In [36]:
import findspark
findspark.init()
findspark.find()

ModuleNotFoundError: No module named 'findspark'

# Creamos uns Session de spark

## SparkSession

In [1]:
from pyspark.sql import SparkSession
#from pyspark.sql.types import *
#from pyspark.sql.functions import *

spark = (
            SparkSessionSmetana dies in Prague, Czech republic, 1884
may 12 	The Cat Parade

                .builder
    
                .appName("TaxiOperationsDataFrameApp")
                .master("local[4]")
    
                .config("spark.dynamicAllocation.enabled", "false")
                .config("spark.sql.adaptive.enabled", "false")    
                .getOrCreate()
        )

sc = spark.sparkContext

spark

24/05/11 18:27:47 WARN Utils: Your hostname, emi-All-Series resolves to a loopback address: 127.0.1.1; using 192.168.100.35 instead (on interface enp3s0)
24/05/11 18:27:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/11 18:27:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

El código crea una sesión de Spark llamada "TaxiOperationsDataFrameApp" con 4 núcleos locales y deshabilita la asignación dinámica y la optimización adaptativa de SQL.

Explicación paso a paso del código:
1. Importa las clases necesarias de pyspark.
2. Crea una sesión de Spark llamada "TaxiOperationsDataFrameApp" con 4 núcleos locales.
3. Deshabilita la asignación dinámica y la optimización adaptativa de SQL.
4. Obtiene o crea la sesión de Spark.
5. Obtiene el contexto de Spark.
6. Imprime la sesión de Spark.

In [2]:
from IPython.display import *
display(HTML("<style>pre { white-space: pre !important; }</style>"))

Este código ajusta el estilo de visualización de los elementos "pre" en un entorno de IPython.

Explicación paso a paso del código:
1. Se importa la función "display" del módulo "IPython.display".
2. Se utiliza la función "display" para mostrar un HTML con un estilo específico.
3. El estilo especificado en el HTML es para los elementos "pre" y se establece el atributo "white-space" como "pre !important", lo que indica que se respetará el espaciado en blanco en estos elementos.

## Create DataFrame - Option 1.a: From RDD

In [4]:
# Create RDD

data = [
            [ 1, "Neha",  10000 ],
            [ 2, "Steve", 20000 ],
            [ 3, "Kari",  30000 ],
            [ 4, "Ivan",  40000 ],
            [ 5, "Mohit", 50000 ]
       ]

employeesRdd = sc.parallelize(data)

1. Se crea un RDD llamado employeesRdd utilizando la función sc.parallelize() que toma los datos como argumento. 
2. Los datos se distribuyen en el clúster para su procesamiento paralelo.

In [5]:
# Create DataFrame and show content

employeesDF = employeesRdd.toDF()
type(employeesDF)

pyspark.sql.dataframe.DataFrame

1. Se llama al método toDF() en el RDD employeesRdd, que convierte el RDD en un DataFrame. 
2. El DataFrame resultante se asigna a la variable employeesDF.

La diferencia principal entre un RDD (Resilient Distributed Dataset) y un DataFrame en Spark es que un RDD es una colección distribuida de elementos que pueden ser operados en paralelo, mientras que un DataFrame es una estructura de datos tabular con filas y columnas que permite realizar operaciones similares a las de una base de datos relacional.

Algunas diferencias clave entre RDD y DataFrame son:

1. Tipos de datos: 
>Un RDD puede contener cualquier tipo de objeto, mientras que un DataFrame tiene una estructura tabular con esquema definido que facilita la manipulación de datos.

2. Optimización de consultas: 
>Los DataFrames en Spark utilizan un optimizador de consultas Catalyst que permite optimizar las operaciones y mejorar el rendimiento de las consultas, mientras que los RDD no tienen esta optimización.

3. APIs: 
>Los DataFrames proporcionan APIs de alto nivel que permiten realizar operaciones de forma más sencilla y eficiente en comparación con los RDD, que requieren más código para realizar las mismas operaciones.

In [6]:

employeesDF.show()

+---+-----+-----+
| _1|   _2|   _3|
+---+-----+-----+
|  1| Neha|10000|
|  2|Steve|20000|
|  3| Kari|30000|
|  4| Ivan|40000|
|  5|Mohit|50000|
+---+-----+-----+

In [7]:
# Define nombres de coluimnas

employeesDF = employeesDF.toDF("Id", "Name", "Salary")

employeesDF.show()

+---+-----+------+
| Id| Name|Salary|
+---+-----+------+
|  1| Neha| 10000|
|  2|Steve| 20000|
|  3| Kari| 30000|
|  4| Ivan| 40000|
|  5|Mohit| 50000|
+---+-----+------+

Imprimimos el esquema de los datos

In [8]:
# Print DataFrame schema

employeesDF.printSchema()

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

## Create DataFrame - Option 1.b: From data collection

In [9]:
# Create DataFrame from collection

employeesDF = (
                    spark
                        .createDataFrame
                        (
                            data,                                   # Pass RDD or collection
                            "Id: long, Name: string, Salary: long"  
                            
                                              # Pass schema as array ["Id", "Name", "Salary"]
                        )
               )

employeesDF.show()

+---+-----+------+
| Id| Name|Salary|
+---+-----+------+
|  1| Neha| 10000|
|  2|Steve| 20000|
|  3| Kari| 30000|
|  4| Ivan| 40000|
|  5|Mohit| 50000|
+---+-----+------+

In [10]:
employeesDF.printSchema()

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

## Create DataFrame - Option 2: Read a File

In [11]:
# Read YellowTaxis csv file to create DataFrame

yellowTaxiDF = (
                  spark    
                    .read    
                    .csv("datos/YellowTaxis_202210.csv")
               )

In [13]:
# Display DataFrame content

yellowTaxiDF.show(5)

+--------+--------------------+--------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+--------------------+------------+--------------------+-----------+
|     _c0|                 _c1|                 _c2|            _c3|          _c4|       _c5|               _c6|         _c7|         _c8|         _c9|       _c10| _c11|   _c12|      _c13|        _c14|                _c15|        _c16|                _c17|       _c18|
+--------+--------------------+--------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+--------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_date...|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surch...|total_amount|congestion_surcharge|airport_fee|
|       1|2022-10-01T05:33:...|2022-10-01T05:48:...|            1.0|          1.7|       1.0|                 N|         249|         107|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                 0.3|       15.95|                 2.5|        0.0|
|       2|2022-10-01T05:44:...|2022-10-01T05:49:...|            2.0|         0.72|       1.0|                 N|         151|         238|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                 0.3|         9.3|                 2.5|        0.0|
|       2|2022-10-01T05:57:...|2022-10-01T06:07:...|            1.0|         1.74|       1.0|                 N|         238|         166|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                 0.3|       12.36|                 0.0|        0.0|
|       1|2022-10-01T06:02:...|2022-10-01T06:08:...|            0.0|          1.3|       1.0|                 N|         142|         239|           1|        6.5|  3.0|    0.5|      2.05|         0.0|                 0.3|       12.35|                 2.5|        0.0|
+--------+--------------------+--------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+--------------------+------------+--------------------+-----------+
only showing top 5 rows

In [14]:
# Take column names from file header row

yellowTaxiDF = (
                  spark
                    .read
                    # toma la primer fila como nombres de columnas   
                    .option("header", "true")  
    
                    .csv("datos/YellowTaxis_202210.csv")
               )

yellowTaxiDF.show(2)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1|2022-10-01T05:33:...| 2022-10-01T05:48:...|            1.0|          1.7|       1.0|                 N|         249|         107|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                  0.3|       15.95|                 2.5|        0.0|
|       2|2022-10-01T05:44:...| 2022-10-01T05:49:...|            2.0|         0.72|       1.0|                 N|         151|         238|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 2 rows

In [15]:
yellowTaxiDF.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)
 |-- airport_fee: string (nullable = true)

In [16]:
# Use tab delimiter to read GreenTaxis file

greenTaxiDF = (
                  spark
                    .read                     
                    .option("header", "true")
                    # establece el delimitador del archivo de datos como una tabulación. 
                    # Esto significa que los datos en el archivo estarán separados por tabulaciones en lugar de comas u otro carácter.    
                    .option("delimiter", "\t")
                    .csv("datos/GreenTaxis_*.csv")
              )

greenTaxiDF.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorId|lpep_pickup_datetime|lpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2|2022-10-01T06:08:...| 2022-10-01T06:21:...|            1.0|         2.47|       1.0|                 N|         256|         225|         1.0|       11.5|  0.5|    0.5|      2.56|         0.0|                  0.3|       15.36|                 0.0|        0.0|
|       2|2022-10-01T06:36:...| 2022-10-01T06:42:...|            1.0|         1.96|       1.0|                 N|         166|         152|         1.0|        7.5|  0.5|    0.5|       2.2|         0.0|                  0.3|        11.0|                 0.0|        0.0|
|       2|2022-10-01T06:01:...| 2022-10-01T06:15:...|            1.0|         2.43|       1.0|                 N|          74|         262|         1.0|       11.5|  0.5|    0.5|       2.0|         0.0|                  0.3|       17.55|                2.75|        0.0|
|       2|2022-10-01T06:21:...| 2022-10-01T06:28:...|            1.0|         2.25|       1.0|                 N|          74|          42|         1.0|        8.5|  0.5|    0.5|      1.96|         0.0|                  0.3|       11.76|                 0.0|        0.0|
|       1|2022-10-01T06:12:...| 2022-10-01T06:24:...|            1.0|          0.0|       1.0|                 N|          74|         247|         1.0|       17.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        18.0|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

## Read JSON File

In [17]:
# Read PaymentTypes JSON file

paymentTypesDF = (
                      spark
                        .read
                        .json("datos/PaymentTypes.json")
                 )

paymentTypesDF.show()

+-----------+-------------+
|PaymentType|PaymentTypeID|
+-----------+-------------+
|Credit Card|            1|
|       Cash|            2|
|  No Charge|            3|
|    Dispute|            4|
|    Unknown|            5|
|Voided Trip|            6|
+-----------+-------------+

In [18]:
(spark.read.format("json")
                  .load("datos/PaymentTypes.json")
                  .show(5))

+-----------+-------------+
|PaymentType|PaymentTypeID|
+-----------+-------------+
|Credit Card|            1|
|       Cash|            2|
|  No Charge|            3|
|    Dispute|            4|
|    Unknown|            5|
+-----------+-------------+
only showing top 5 rows

## Schema Option 1 - No schema inference or definition

<i>Check for jobs

In [19]:
# Read YellowTaxis csv file to create DataFrame

yellowTaxiDF = (
                  spark
                    .read    
                    .option("header", "true")    
                    .csv("datos/YellowTaxis_202210.csv")
               )

yellowTaxiDF.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)
 |-- airport_fee: string (nullable = true)

## Schema Option 2 - Infer schema

<i>Check for jobs

In [20]:
# Read YellowTaxis csv file, and create DataFrame by inferring the schema

yellowTaxiDF = (
                  spark
                    .read
                    .option("header", "true")
#"inferSchema": Esta opción le dice a Spark que infiera automáticamente el esquema de los datos.    
                    .option("inferSchema", "true")
                    .csv("datos/YellowTaxis_202210.csv")
               )

yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

## Schema Option 3 - Define schema & apply

<i>Check for jobs

### Tipos de datos

In [21]:
from pyspark.sql.types import StructType, StructField, IntegerType, TimestampType, DoubleType, StringType

In [22]:
StructField?

Init signature:
StructField(
    name: str,
    dataType: pyspark.sql.types.DataType,
    nullable: bool = True,
    metadata: Union[Dict[str, Any], NoneType] = None,
)
Docstring:
A field in :class:`StructType`.

Parameters
----------
name : str
    name of the field.
dataType : :class:`DataType`
    :class:`DataType` of the field.
nullable : bool, optional
    whether the field can be null (None) or not.
metadata : dict, optional
    a dict from string to simple type that can be toInternald to JSON automatically

Examples
--------
>>> from pyspark.sql.types import StringType, StructField
>>> (StructField("f1", StringType(), True)
...      == StructField("f1", StringType(), True))
True
>>> (StructField("f1", StringType(), True)
...      == StructField("f2", StringType(), True))
False
File:           ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/types.py
Type:           type
Subclasses:

Tabla con los tipos de datos que Spark maneja comúnmente:

| Tipo de Datos    | Descripción                           |
|-------------------|---------------------------------------|
| StringType        | Cadena de texto                       |
| IntegerType       | Números enteros                       |
| DoubleType        | Números de punto flotante de doble precisión |
| FloatType         | Números de punto flotante de precisión simple |
| LongType          | Números enteros largos                |
| ShortType         | Números enteros cortos                |
| ByteType          | Números enteros de 8 bits              |
| BooleanType       | Valores booleanos (Verdadero/Falso)   |
| DateType          | Fecha                                 |
| TimestampType     | Marca de tiempo                       |

En Spark, al definir un esquema para un DataFrame, se pueden especificar diferentes parámetros para cada campo, como el nombre del campo, el tipo de datos, si el campo puede ser nulo o no.

Algunos de los parámetros que se pueden especificar al definir un campo en un esquema de Spark incluyen:

- name : 
    
    El nombre del campo en el esquema.

- dataType :

    El tipo de datos que se espera en el campo.

- nullable  

    Indica si el campo puede ser nulo o no.

- metadata 

    Metadatos adicionales asociados con el campo.

In [26]:
# Create schema for Yellow Taxi Data

yellowTaxiSchema = (
                        StructType
                        ([              
                            StructField( 
                                        name     = "VendorId", 
                                        dataType = IntegerType(), 
                                        nullable = True 
                                        ),
                                        #   name,                    dataType,    nullable
                            StructField("tpep_pickup_datetime"   , TimestampType() , True),
                            StructField("tpep_dropoff_datetime"  , TimestampType() , True),
                            StructField("passenger_count"        , DoubleType()    , True),
                            StructField("trip_distance"          , DoubleType()    , True),
                            StructField("RatecodeID"             , DoubleType()    , True),
                            StructField("store_and_fwd_flag"     , StringType()    , True),
                            StructField("PULocationID"           , IntegerType()   , True),
                            StructField("DOLocationID"           , IntegerType()   , True),
                            StructField("payment_type"           , IntegerType()   , True),
                            StructField("fare_amount"            , DoubleType()    , True),
                            StructField("extra"                  , DoubleType()    , True),
                            StructField("mta_tax"                , DoubleType()    , True),
                            StructField("tip_amount"             , DoubleType()    , True),
                            StructField("tolls_amount"           , DoubleType()    , True),
                            StructField("improvement_surcharge"  , DoubleType()    , True),
                            StructField("total_amount"           , DoubleType()    , True),
                            StructField("congestion_surcharge"   , DoubleType()    , True),
                            StructField("airport_fee"            , DoubleType()    , True)
                        ])
                   )

In [27]:
# Read YellowTaxis csv file, and create DataFrame by applying the schema

yellowTaxiDF = (
                  spark
                    .read
                    .option("header", "true") # carga la cabezera como nombre de columnas
                    # carga el esquema de tipo de datos 
                    .schema(yellowTaxiSchema)    
                    .csv("datos/YellowTaxis_202210.csv")
               )

yellowTaxiDF.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

### Define schema for JSON file

Si cargamos un json que tiene en algun campo una estructura de datos anidada , el metodo reas.json dara error si no especificamos que es  multiliea

In [28]:
# Read JSON file

taxiBasesDF = (
                  spark
                    .read
                    .json("datos/TaxiBases.json")
              )

taxiBasesDF.show()

AnalysisException: Since Spark 2.3, the queries from raw JSON/CSV files are disallowed when the
referenced columns only include the internal corrupt record column
(named _corrupt_record by default). For example:
spark.read.schema(schema).csv(file).filter($"_corrupt_record".isNotNull).count()
and spark.read.schema(schema).csv(file).select("_corrupt_record").show().
Instead, you can cache or save the parsed results and then send the same query.
For example, val df = spark.read.schema(schema).csv(file).cache() and then
df.filter($"_corrupt_record".isNotNull).count().

In [29]:
# Read multiline JSON file

taxiBasesDF = (spark.read
                   # Especificamos que el json tiene datos anidados
                  .option("multiline", "true")
    
                  .json("datos/TaxiBases.json")
              )

taxiBasesDF.show(5, truncate=False)

+--------------------------------------------+----------+--------------------------------------+------------------------------------------------+--------------+------------+----------------+--------+---------------------------+
|Address                                     |Date      |Entity Name                           |GeoLocation                                     |License Number|SHL Endorsed|Telephone Number|Time    |Type of Base               |
+--------------------------------------------+----------+--------------------------------------+------------------------------------------------+--------------+------------+----------------+--------+---------------------------+
|{636, NEW YORK, 10001, NY, WEST   28 STREET}|08/15/2019|VIER-NY,LLC                           |{40.75273, (40.75273, -74.006408), -74.006408}  |B02865        |No          |6466657536      |18:03:31|BLACK CAR BASE             |
|{131, BRONX, 10468, NY, KINGSBRIDGE ROAD}   |08/15/2019|VETERANS RADIO DISPATCHER CORP.       |{40.86927, (40.86927, -73.90281), -73.90281}    |B02634        |No          |7183647878      |18:03:31|LIVERY BASE                |
|{115-54, ELMONT, 11003, NY, 238 STREET}     |08/15/2019|ALPHA VAN LINE                        |{40.693473, (40.693473, -73.724446), -73.724446}|B80094        |No          |5162850750      |18:03:31|COMMUTER VAN AUTHORITY BASE|
|{866, BROOKLYN, 11208, NY, NEW LOTS AVENUE} |08/15/2019|A.T.B. CAR AND LIMOUSINE SERVICE, INC.|{40.667838, (40.667838, -73.8788), -73.8788}    |B02677        |No          |7184854444      |18:03:31|LIVERY BASE                |
|{57-48, MASPETH, 11378, NY, MASPETH AVENUE} |08/15/2019|KYOEI LIMOUSINE, INC.                 |{40.722961, (40.722961, -73.91031), -73.91031}  |B02152        |No          |7183263258      |18:03:31|LUXURY/LIMOUSINE           |
+--------------------------------------------+----------+--------------------------------------+------------------------------------------------+--------------+------------+----------------+--------+---------------------------+
only showing top 5 rows

In [30]:
taxiBasesDF.show(5)

+--------------------+----------+--------------------+--------------------+--------------+------------+----------------+--------+--------------------+
|             Address|      Date|         Entity Name|         GeoLocation|License Number|SHL Endorsed|Telephone Number|    Time|        Type of Base|
+--------------------+----------+--------------------+--------------------+--------------+------------+----------------+--------+--------------------+
|{636, NEW YORK, 1...|08/15/2019|         VIER-NY,LLC|{40.75273, (40.75...|        B02865|          No|      6466657536|18:03:31|      BLACK CAR BASE|
|{131, BRONX, 1046...|08/15/2019|VETERANS RADIO DI...|{40.86927, (40.86...|        B02634|          No|      7183647878|18:03:31|         LIVERY BASE|
|{115-54, ELMONT, ...|08/15/2019|      ALPHA VAN LINE|{40.693473, (40.6...|        B80094|          No|      5162850750|18:03:31|COMMUTER VAN AUTH...|
|{866, BROOKLYN, 1...|08/15/2019|A.T.B. CAR AND LI...|{40.667838, (40.6...|        B02677|          No|      7184854444|18:03:31|         LIVERY BASE|
|{57-48, MASPETH, ...|08/15/2019|KYOEI LIMOUSINE, ...|{40.722961, (40.7...|        B02152|          No|      7183263258|18:03:31|    LUXURY/LIMOUSINE|
+--------------------+----------+--------------------+--------------------+--------------+------------+----------------+--------+--------------------+
only showing top 5 rows

In [31]:
# Check the complex structure of JSON data

taxiBasesDF.printSchema()

root
 |-- Address: struct (nullable = true)
 |    |-- Building: string (nullable = true)
 |    |-- City: string (nullable = true)
 |    |-- Postcode: long (nullable = true)
 |    |-- State: string (nullable = true)
 |    |-- Street: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Entity Name: string (nullable = true)
 |-- GeoLocation: struct (nullable = true)
 |    |-- Latitude: double (nullable = true)
 |    |-- Location: string (nullable = true)
 |    |-- Longitude: double (nullable = true)
 |-- License Number: string (nullable = true)
 |-- SHL Endorsed: string (nullable = true)
 |-- Telephone Number: long (nullable = true)
 |-- Time: string (nullable = true)
 |-- Type of Base: string (nullable = true)

In [33]:
from pyspark.sql.types import LongType

In [34]:
# Define schema for JSON data

taxiBasesSchema = (
                    StructType
                    ([
                        StructField("License Number"         , StringType()    , True),
                        StructField("Entity Name"            , StringType()    , True),
                        StructField("Telephone Number"       , LongType()      , True),
                        StructField("SHL Endorsed"           , StringType()    , True),
                        StructField("Type of Base"           , StringType()    , True),

                        StructField("Address", 
                                        StructType
                                        ([
                                            StructField("Building"   , StringType(),   True),
                                            StructField("Street"     , StringType(),   True), 
                                            StructField("City"       , StringType(),   True), 
                                            StructField("State"      , StringType(),   True), 
                                            StructField("Postcode"   , StringType(),   True)
                                        ]),
                                    True
                                   ),
                        
                        StructField("GeoLocation", 
                                        StructType
                                        ([
                                            StructField("Latitude"   , StringType(),   True),
                                            StructField("Longitude"  , StringType(),   True), 
                                            StructField("Location"   , StringType(),   True)
                                        ]),
                                    True
                                   )  
                  ])
                )

In [35]:
# Read JSON file by applying nested schema

taxiBasesDF = (
                  spark
                    .read    
                    .option("multiline", "true")
    
                    .schema(taxiBasesSchema)
    
                    .json("datos/TaxiBases.json")
              )

taxiBasesDF.show(5 ,truncate=False)

+--------------+--------------------------------------+----------------+------------+---------------------------+--------------------------------------------+------------------------------------------------+
|License Number|Entity Name                           |Telephone Number|SHL Endorsed|Type of Base               |Address                                     |GeoLocation                                     |
+--------------+--------------------------------------+----------------+------------+---------------------------+--------------------------------------------+------------------------------------------------+
|B02865        |VIER-NY,LLC                           |6466657536      |No          |BLACK CAR BASE             |{636, WEST   28 STREET, NEW YORK, NY, 10001}|{40.75273, -74.006408, (40.75273, -74.006408)}  |
|B02634        |VETERANS RADIO DISPATCHER CORP.       |7183647878      |No          |LIVERY BASE                |{131, KINGSBRIDGE ROAD, BRONX, NY, 10468}   |{40.86927, -73.90281, (40.86927, -73.90281)}    |
|B80094        |ALPHA VAN LINE                        |5162850750      |No          |COMMUTER VAN AUTHORITY BASE|{115-54, 238 STREET, ELMONT, NY, 11003}     |{40.693473, -73.724446, (40.693473, -73.724446)}|
|B02677        |A.T.B. CAR AND LIMOUSINE SERVICE, INC.|7184854444      |No          |LIVERY BASE                |{866, NEW LOTS AVENUE, BROOKLYN, NY, 11208} |{40.667838, -73.8788, (40.667838, -73.8788)}    |
|B02152        |KYOEI LIMOUSINE, INC.                 |7183263258      |No          |LUXURY/LIMOUSINE           |{57-48, MASPETH AVENUE, MASPETH, NY, 11378} |{40.722961, -73.91031, (40.722961, -73.91031)}  |
+--------------+--------------------------------------+----------------+------------+---------------------------+--------------------------------------------+------------------------------------------------+
only showing top 5 rows

In [36]:
taxiBasesDF.printSchema()

root
 |-- License Number: string (nullable = true)
 |-- Entity Name: string (nullable = true)
 |-- Telephone Number: long (nullable = true)
 |-- SHL Endorsed: string (nullable = true)
 |-- Type of Base: string (nullable = true)
 |-- Address: struct (nullable = true)
 |    |-- Building: string (nullable = true)
 |    |-- Street: string (nullable = true)
 |    |-- City: string (nullable = true)
 |    |-- State: string (nullable = true)
 |    |-- Postcode: string (nullable = true)
 |-- GeoLocation: struct (nullable = true)
 |    |-- Latitude: string (nullable = true)
 |    |-- Longitude: string (nullable = true)
 |    |-- Location: string (nullable = true)

## Analyze Data

### Describe (datos estadisticos)

In [38]:
yellowTaxiAnalyzedDF = (
    # Calcula estadísticas descriptivas para  las columnas
    # passenger_count y rip_distance
                yellowTaxiDF.describe
                            (
                                "passenger_count",
                                "trip_distance"
                            )
                       )

yellowTaxiAnalyzedDF.show()

+-------+------------------+-----------------+
|summary|   passenger_count|    trip_distance|
+-------+------------------+-----------------+
|  count|           3542392|          3675412|
|   mean|1.3846934500755421|6.206976298167358|
| stddev|0.9302303297407405|640.8236808320215|
|    min|               0.0|              0.0|
|    max|               9.0|        389678.46|
+-------+------------------+-----------------+

### Clean Data

#### 1. Accuracy Check: Filter inaccurate data

In [40]:
from pyspark.sql.functions import col

In [41]:
col?

Signature: col(col: str) -> pyspark.sql.column.Column
Docstring:
Returns a :class:`~pyspark.sql.Column` based on the given column name.

.. versionadded:: 1.3.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
col : str
    the name for the column

Returns
-------
:class:`~pyspark.sql.Column`
    the corresponding column instance.

Examples
--------
>>> col('x')
Column<'x'>
>>> column('x')
Column<'x'>
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

In [51]:
# Display the count before operation
print("Antes de la operación = " + str( yellowTaxiDF.count()) )


yellowTaxiDF_passenger_count_gt_0_and_trip_distance_gt_0 = (
                  yellowTaxiDF
# El método  where  se utiliza para filtrar las filas del DataFrame 
# donde el número de pasajeros es mayor que 0. 
                      .where("passenger_count > 0")
# , el método  filter  se utiliza para filtrar las filas del DataFrame 
# donde la distancia del viaje es mayor que 0.0. 
                      .filter(col("trip_distance") > 0.0)
               )


# Display the count after operation
print("Despues de la operación = " + str( yellowTaxiDF_passenger_count_gt_0_and_trip_distance_gt_0.count()) )

Antes de la operación = 3675412

Despues de la operación = 3422296

In [30]:
yellowTaxiDF_passenger_count_gt_0_and_trip_distance_gt_0.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorId|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-09-30 21:03:41|  2022-09-30 21:18:39|            1.0|          1.7|       1.0|                 N|         249|         107|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                  0.3|       15.95|                 2.5|        0.0|
|       2| 2022-09-30 21:14:30|  2022-09-30 21:19:48|            2.0|         0.72|       1.0|                 N|         151|         238|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|                 2.5|        0.0|
|       2| 2022-09-30 21:27:13|  2022-09-30 21:37:41|            1.0|         1.74|       1.0|                 N|         238|         166|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|                 0.0|        0.0|
|       1| 2022-09-30 21:22:52|  2022-09-30 21:52:14|            1.0|          6.8|       1.0|                 Y|         186|          41|           2|       25.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        29.3|                 2.5|        0.0|
|       2| 2022-09-30 21:33:19|  2022-09-30 21:44:51|            3.0|         1.88|       1.0|                 N|         162|         145|           2|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        14.3|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [31]:
yellowTaxiDF_passenger_count_gt_0_and_trip_distance_gt_0.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

#### 2.a. Completeness Check: Drop rows with nulls

In [43]:
type(yellowTaxiDF)

pyspark.sql.dataframe.DataFrame

In [47]:
dir(yellowTaxiDF)

['DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorId',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_ipython_key_completions_',
 '_jcols',
 '_jdf',
 '_jmap',
 '_joinAsOf',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_session',
 '_show_string',
 '_sort_cols',
 '_sql_ctx',
 '_support_repr_html',
 'agg',
 'airport_fee',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'congestion_surcharge',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'dropDuplicatesWithinWatermark',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'extra',
 'fare_amount',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'improvement_surcharge',
 'inputFiles',
 'intersect',
 'intersectAll',
 'isEmpty',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'mapInArrow',
 'mapInPandas',
 'melt',
 'mta_tax',
 'na',
 'observe',
 'offset',
 'orderBy',
 'pandas_api',
 'passenger_count',
 'payment_type',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sameSemantics',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'semanticHash',
 'show',
 'sort',
 'sortWithinPartitions',
 'sparkSession',
 'sql_ctx',
 'stat',
 'storageLevel',
 'store_and_fwd_flag',
 'subtract',
 'summary',
 'tail',
 'take',
 'tip_amount',
 'to',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'to_koalas',
 'to_pandas_on_spark',
 'tolls_amount',
 'total_amount',
 'tpep_dropoff_datetime',
 'tpep_pickup_datetime',
 'transform',
 'trip_distance',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'unpivot',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withColumns',
 'withColumnsRenamed',
 'withMetadata',
 'withWatermark',
 'write',
 'writeStream',
 'writeTo']

In [49]:
yellowTaxiDF.na.drop?

Signature:
yellowTaxiDF.na.drop(
    how: str = 'any',
    thresh: Union[int, NoneType] = None,
    subset: Union[str, Tuple[str, ...], List[str], NoneType] = None,
) -> pyspark.sql.dataframe.DataFrame
Docstring:
Returns a new :class:`DataFrame` omitting rows with null values.
:func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.

.. versionadded:: 1.3.1

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
how : str, optional
    'any' or 'all'.
    If 'any', drop a row if it contains any nulls.
    If 'all', drop a row only if all its values are null.
thresh: int, optional
    default None
    If specified, drop rows that have less than `thresh` non-null values.
    This overwrites the `how` parameter.
subset : str, tuple or list, optional
    optional list of column names to consider.

Returns
-------
:class:`DataFrame`
    DataFrame with null only rows excluded.

Examples
--------
>>> from pyspark.sql import Row
>>> df = spark.createDataFrame([
...     Row(age=10, height=80, name="Alice"),
...     Row(age=5, height=None, name="Bob"),
...     Row(age=None, height=None, name="Tom"),
...     Row(age=None, height=None, name=None),
... ])
>>> df.na.drop().show()
+---+------+-----+
|age|height| name|
+---+------+-----+
| 10|    80|Alice|
+---+------+-----+
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/dataframe.py
Type:      method

La función  `na.drop()`  en Spark se utiliza para eliminar filas que contienen valores nulos en un DataFrame. A continuación se detallan los parámetros más comunes que se pueden utilizar con  `na.drop()` :

1.  `how` : Especifica cómo se deben considerar los valores nulos para eliminar las filas. Los valores posibles son:
   - `any` (predeterminado): Elimina la fila si contiene al menos un valor nulo en alguna de sus columnas.
   - `all`: Elimina la fila solo si todos los valores son nulos.

2.  `subset` : Lista de nombres de columnas para considerar al eliminar filas con valores nulos. Si se proporciona, solo se considerarán las columnas especificadas.

3.  `thresh` : Número mínimo de valores no nulos que deben estar presentes en una fila para que no sea eliminada. Por ejemplo,  `thresh=2`  eliminará las filas que tengan menos de 2 valores no nulos.

Estos son algunos de los parámetros más comunes que se pueden utilizar con la función  `na.drop()`  en Spark para personalizar el proceso de eliminación de filas con valores nulos en un DataFrame.

In [52]:
# Display the count before operation
print("Antes de la operación = " + str( yellowTaxiDF.count()) )


yellowTaxiDF = (
                   yellowTaxiDF    
                          .na.drop(how='all')
               )


# Display the count after operation
print("Despues de la operaciónn = " + str( yellowTaxiDF.count()) )

Antes de la operación = 3675412

Despues de la operaciónn = 3675412

#### 2.b. Completeness Check: Replace nulls with default values

La función  `na.fill()`  en Spark se utiliza para rellenar los valores nulos en un DataFrame con un valor específico. A continuación se detallan los parámetros más comunes que se pueden utilizar con  `na.fill()` :

1.  `value` : 

    Valor que se utilizará para rellenar los valores nulos en el DataFrame. Puede ser un valor constante o un diccionario que mapea columnas a valores específicos.

2.  `subset` : 

    Lista de nombres de columnas para considerar al rellenar los valores nulos. Si se proporciona, solo se considerarán las columnas especificadas.

Por ejemplo, si deseas rellenar los valores nulos en todas las columnas de un DataFrame con el valor 0, puedes usar la función  `na.fill()`  de la siguiente manera:

```python
filled_df = original_df.na.fill(0)
```

Esto rellenará todos los valores nulos en el DataFrame  `original_df`  con el valor 0. También puedes especificar un diccionario de columnas y valores para rellenar valores nulos de manera más específica:

```python
filled_df = original_df.na.fill({'column1': 0, 'column2': 'No data'})
```

In [53]:
defaultValueMap = {'payment_type': 5, 'RateCodeID': 1}


yellowTaxiDF = (
                   yellowTaxiDF    
                      .na.fill(defaultValueMap)
               )

#### 3. Uniqueness Check: Drop duplicate rows

In [54]:
# Display the count before operation
print("Antes de la operación = " + str( yellowTaxiDF.count()) )


yellowTaxiDF = (
                   yellowTaxiDF
                          .dropDuplicates()
               )


# Display the count after operation
print("Despues de la operación = " + str( yellowTaxiDF.count()) )

Antes de la operación = 3675412

24/05/11 19:11:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:11:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:11:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:11:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:11:40 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:11:40 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:11:40 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:11:40 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

Despues de la operación = 3675410

#### 4. Timeliness Check: Remove records outside the bound

In [55]:
# Display the count before operation
print("Before operation = " + str( yellowTaxiDF.count()) )


yellowTaxiDF = (
    
     yellowTaxiDF
        .where("tpep_pickup_datetime >= '2022-10-01' AND tpep_dropoff_datetime < '2022-11-01'")
)


# Display the count after operation
print("After operation = " + str( yellowTaxiDF.count()) )

24/05/11 19:15:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

Before operation = 3675410

24/05/11 19:15:38 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:38 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:38 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:38 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:38 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:38 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:38 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:15:38 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

After operation = 3661886

### Chain all cleanup operation together

In [56]:
defaultValueMap = {'payment_type': 5, 'RateCodeID': 1}

# Read file
yellowTaxiDF = (
                  spark
                    .read
                    .option("header", "true")    
                    .schema(yellowTaxiSchema)    
                    .csv("datos/YellowTaxis_202210.csv")
               )

# Cleanup data by applying data quality checks
yellowTaxiDF = (
                  yellowTaxiDF    
    
                      .where("passenger_count > 0")
    
                      .filter(col("trip_distance") > 0.0)
                          
                      .na.drop('all')
    
                      .na.fill(defaultValueMap)
    
                      .dropDuplicates()
    
                      .where("tpep_pickup_datetime >= '2022-10-01' AND tpep_dropoff_datetime < '2022-11-01'")
               )

# Display the count after operation
print("After operation = " + str( yellowTaxiDF.count()) )

24/05/11 19:16:43 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:16:43 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:16:43 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:16:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:16:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:16:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:16:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:16:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

After operation = 3409776

In [57]:
yellowTaxiDF.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = false)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

## Transform Data

#### 1. Select limited columns

In [64]:
from pyspark.sql.functions import  col, column, cast

In [61]:
column?

Signature: column(col: str) -> pyspark.sql.column.Column
Docstring:
Returns a :class:`~pyspark.sql.Column` based on the given column name.

.. versionadded:: 1.3.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
col : str
    the name for the column

Returns
-------
:class:`~pyspark.sql.Column`
    the corresponding column instance.

Examples
--------
>>> col('x')
Column<'x'>
>>> column('x')
Column<'x'>
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

In [65]:
cast?

Signature: cast(typ, val)
Docstring:
Cast a value to a type.

This returns the value unchanged.  To the type checker this
signals that the return value has the designated type, but at
runtime we intentionally don't check anything (we want this
to be as fast as possible).
File:      /usr/lib/python3.8/typing.py
Type:      function

In [66]:
yellowTaxiDF_2 = (
                   yellowTaxiDF

                        # Select only limited columns
                        .select(
                                  "VendorID",
                             
                                  col("passenger_count").cast(IntegerType()),
                            
                                  column("trip_distance").alias("TripDistance"),
                            
                                  "tpep_pickup_datetime",
                            
                                  "tpep_dropoff_datetime",
                                  "PUlocationID",
                                  "DOlocationID",
                                  "RatecodeID",
                                  "total_amount",
                                  "payment_type"
                               )
    
                        # Don't run, since airport_fee has not been selected above    
                        # .drop("airport_fee") 
               )

yellowTaxiDF_2.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = false)

In [67]:
yellowTaxiDF_2.show(5)

24/05/11 19:21:28 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:21:28 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:21:28 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:21:28 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:21:28 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:21:29 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:21:29 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:21:29 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------+---------------+------------+--------------------+---------------------+------------+------------+----------+------------+------------+
|VendorID|passenger_count|TripDistance|tpep_pickup_datetime|tpep_dropoff_datetime|PUlocationID|DOlocationID|RatecodeID|total_amount|payment_type|
+--------+---------------+------------+--------------------+---------------------+------------+------------+----------+------------+------------+
|       2|              2|         1.8| 2022-10-01 00:18:28|  2022-10-01 00:26:54|          48|          68|       1.0|       14.76|           1|
|       2|              2|        1.41| 2022-10-01 00:40:53|  2022-10-01 00:47:01|         211|         261|       1.0|       12.36|           1|
|       2|              1|        1.54| 2022-10-01 00:07:52|  2022-10-01 00:15:34|          79|         170|       1.0|       13.56|           1|
|       2|              1|       12.38| 2022-10-01 00:35:27|  2022-10-01 01:03:59|         231|         159|       1.0|       48.36|           1|
|       2|              1|        1.14| 2022-10-01 01:00:26|  2022-10-01 01:05:14|         231|         158|       1.0|       12.74|           1|
+--------+---------------+------------+--------------------+---------------------+------------+------------+----------+------------+------------+
only showing top 5 rows

In [68]:
yellowTaxiDF = (
                   yellowTaxiDF

                        # Select only limited columns
                        .select(
                                  "VendorID",
                             
                                  col("passenger_count").cast(IntegerType()),
                            
                                  column("trip_distance").alias("TripDistance"),
                            
                                  "tpep_pickup_datetime",
                            
                                  "tpep_dropoff_datetime",
                                  "PUlocationID",
                                  "DOlocationID",
                                  "RatecodeID",
                                  "total_amount",
                                  "payment_type"
                               )
    
                        # Don't run, since airport_fee has not been selected above    
                        # .drop("airport_fee") 
               )

yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = false)

### 2. Rename columns

In [74]:
yellowTaxiDF = (
                   yellowTaxiDF                        
                        
                        .withColumnRenamed("passenger_count", "PassengerCount")
    
                        .withColumnRenamed("tpep_pickup_datetime", "PickupTime")
                        .withColumnRenamed("tpep_dropoff_datetime", "DropTime")
                        .withColumnRenamed("PUlocationID", "PickupLocationId")
                        .withColumnRenamed("DOlocationID", "DropLocationId")
                        .withColumnRenamed("total_amount", "TotalAmount")
                        .withColumnRenamed("payment_type", "PaymentType")    
               )

yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = false)

In [70]:
yellowTaxiDF.show(2)

24/05/11 19:23:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:23:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:23:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:23:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:23:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:23:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:23:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:23:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------+--------------+------------+-------------------+-------------------+----------------+--------------+----------+-----------+-----------+
|VendorID|PassengerCount|TripDistance|         PickupTime|           DropTime|PickupLocationId|DropLocationId|RatecodeID|TotalAmount|PaymentType|
+--------+--------------+------------+-------------------+-------------------+----------------+--------------+----------+-----------+-----------+
|       2|             2|         1.8|2022-10-01 00:18:28|2022-10-01 00:26:54|              48|            68|       1.0|      14.76|          1|
|       2|             2|        1.41|2022-10-01 00:40:53|2022-10-01 00:47:01|             211|           261|       1.0|      12.36|          1|
+--------+--------------+------------+-------------------+-------------------+----------------+--------------+----------+-----------+-----------+
only showing top 2 rows

### 3.a. Create derived columns - TripYear, TripMonth, TripDay

In [71]:
from pyspark.sql.functions import  year, month, dayofmonth, expr, length

#### help function

In [56]:
length?

Signature: length(col: 'ColumnOrName') -> pyspark.sql.column.Column
Docstring:
Computes the character length of string data or number of bytes of binary data.
The length of character data includes the trailing spaces. The length of binary data
includes binary zeros.

.. versionadded:: 1.5.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
col : :class:`~pyspark.sql.Column` or str
    target column to work on.

Returns
-------
:class:`~pyspark.sql.Column`
    length of the value.

Examples
--------
>>> spark.createDataFrame([('ABC ',)], ['a']).select(length('a').alias('length')).collect()
[Row(length=4)]
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

In [58]:
df=spark.createDataFrame([('ABC ',)], ['a'])
df.show()

+----+
|   a|
+----+
|ABC |
+----+

In [61]:
df.select(length('a').alias('length')).show()

+------+
|length|
+------+
|     4|
+------+

In [52]:
expr?

Signature: expr(str: str) -> pyspark.sql.column.Column
Docstring:
Parses the expression string into the column that it represents

.. versionadded:: 1.5.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
str : str
    expression defined in string.

Returns
-------
:class:`~pyspark.sql.Column`
    column representing the expression.

Examples
--------
>>> df = spark.createDataFrame([["Alice"], ["Bob"]], ["name"])
>>> df.select("name", expr("length(name)")).show()
+-----+------------+
| name|length(name)|
+-----+------------+
|Alice|           5|
|  Bob|           3|
+-----+------------+
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

In [53]:
month?

Signature: month(col: 'ColumnOrName') -> pyspark.sql.column.Column
Docstring:
Extract the month of a given date/timestamp as integer.

.. versionadded:: 1.5.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
col : :class:`~pyspark.sql.Column` or str
    target date/timestamp column to work on.

Returns
-------
:class:`~pyspark.sql.Column`
    month part of the date/timestamp as integer.

Examples
--------
>>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
>>> df.select(month('dt').alias('month')).collect()
[Row(month=4)]
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

In [72]:
year?

Signature: year(col: 'ColumnOrName') -> pyspark.sql.column.Column
Docstring:
Extract the year of a given date/timestamp as integer.

.. versionadded:: 1.5.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
col : :class:`~pyspark.sql.Column` or str
    target date/timestamp column to work on.

Returns
-------
:class:`~pyspark.sql.Column`
    year part of the date/timestamp as integer.

Examples
--------
>>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
>>> df.select(year('dt').alias('year')).collect()
[Row(year=2015)]
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

In [73]:
dayofmonth?

Signature: dayofmonth(col: 'ColumnOrName') -> pyspark.sql.column.Column
Docstring:
Extract the day of the month of a given date/timestamp as integer.

.. versionadded:: 1.5.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
col : :class:`~pyspark.sql.Column` or str
    target date/timestamp column to work on.

Returns
-------
:class:`~pyspark.sql.Column`
    day of the month for given date/timestamp as integer.

Examples
--------
>>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
>>> df.select(dayofmonth('dt').alias('day')).collect()
[Row(day=8)]
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

#### ____

In [75]:
# Create derived columns for year, month and day
yellowTaxiDF = (
                  yellowTaxiDF
    
                        .withColumn("TripYear", year(col("PickupTime")))
    
                        .select(
                                    "*",
                            
                                    expr("month(PickupTime) AS TripMonth"),
                            
                                    dayofmonth(col("PickupTime")).alias("TripDay")
                               )
               )

yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = false)
 |-- TripYear: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)

In [76]:
yellowTaxiDF["TripYear", "TripMonth", "TripDay"].show(5)

24/05/11 19:31:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:31:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:31:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:31:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:31:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:31:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:31:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:31:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------+---------+-------+
|TripYear|TripMonth|TripDay|
+--------+---------+-------+
|    2022|       10|      1|
|    2022|       10|      1|
|    2022|       10|      1|
|    2022|       10|      1|
|    2022|       10|      1|
+--------+---------+-------+
only showing top 5 rows

#### 3.b. Create derived column - TripTimeInMinutes

In [77]:
from pyspark.sql.functions import unix_timestamp

In [78]:
unix_timestamp?

Signature:
unix_timestamp(
    timestamp: Union[ForwardRef('ColumnOrName'), NoneType] = None,
    format: str = 'yyyy-MM-dd HH:mm:ss',
) -> pyspark.sql.column.Column
Docstring:
Convert time string with given pattern ('yyyy-MM-dd HH:mm:ss', by default)
to Unix time stamp (in seconds), using the default timezone and the default
locale, returns null if failed.

if `timestamp` is None, then it returns current timestamp.

.. versionadded:: 1.5.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
timestamp : :class:`~pyspark.sql.Column` or str, optional
    timestamps of string values.
format : str, optional
    alternative format to use for converting (default: yyyy-MM-dd HH:mm:ss).

Returns
-------
:class:`~pyspark.sql.Column`
    unix time as long integer.

Examples
--------
>>> spark.conf.set("spark.sql.session.timeZone", "America/Los_Angeles")
>>> time_df = spark.createDataFrame([('2015-04-08',)], ['dt'])
>>> time_df.select(unix_timestamp('dt', 'yyyy-MM-dd').alias('unix_time')).collect()
[Row(unix_time=1428476400)]
>>> spark.conf.unset("spark.sql.session.timeZone")
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

intanciamos la funcion round de pyspark con un alias para no pisar la funcion round nativa de python

In [79]:
from pyspark.sql.functions import round as spround

In [80]:
spround?

Signature: spround(col: 'ColumnOrName', scale: int = 0) -> pyspark.sql.column.Column
Docstring:
Round the given value to `scale` decimal places using HALF_UP rounding mode if `scale` >= 0
or at integral part when `scale` < 0.

.. versionadded:: 1.5.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
col : :class:`~pyspark.sql.Column` or str
    input column to round.
scale : int optional default 0
    scale value.

Returns
-------
:class:`~pyspark.sql.Column`
    rounded values.

Examples
--------
>>> spark.createDataFrame([(2.5,)], ['a']).select(round('a', 0).alias('r')).collect()
[Row(r=3.0)]
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

In [88]:
# Option 1
yellowTaxiDF = (

yellowTaxiDF.withColumn("TripTimeInMinutes", 
            spround(
                  unix_timestamp(col("DropTime")) - unix_timestamp(col("PickupTime")))
                  / 60
                        )
            )

yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = false)
 |-- TripYear: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripTimeInMinutes: double (nullable = true)

In [90]:
yellowTaxiDF.describe("TripTimeInMinutes").show()

24/05/11 19:45:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:45:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:45:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:45:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:45:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:45:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:45:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:45:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+-------+-------------------+
|summary|  TripTimeInMinutes|
+-------+-------------------+
|  count|            3409776|
|   mean|  18.07607436187402|
| stddev| 45.010463831295404|
|    min|-1397.5333333333333|
|    max|            5949.95|
+-------+-------------------+

In [91]:
# Option 2

tripTimeInSecondsExpr = unix_timestamp(col("DropTime")) - unix_timestamp(col("PickupTime"))


tripTimeInMinutesExpr = spround(tripTimeInSecondsExpr / 60)


yellowTaxiDF = (
                  yellowTaxiDF
                        .withColumn("TripTimeInMinutes", tripTimeInMinutesExpr)
               )

yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = false)
 |-- TripYear: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripTimeInMinutes: double (nullable = true)

#### 3.c. Create derived column - TripType

In [92]:
from pyspark.sql.functions import when

In [93]:
when?

Signature: when(condition: pyspark.sql.column.Column, value: Any) -> pyspark.sql.column.Column
Docstring:
Evaluates a list of conditions and returns one of multiple possible result expressions.
If :func:`pyspark.sql.Column.otherwise` is not invoked, None is returned for unmatched
conditions.

.. versionadded:: 1.4.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
condition : :class:`~pyspark.sql.Column`
    a boolean :class:`~pyspark.sql.Column` expression.
value :
    a literal value, or a :class:`~pyspark.sql.Column` expression.

Returns
-------
:class:`~pyspark.sql.Column`
    column representing when expression.

Examples
--------
>>> df = spark.range(3)
>>> df.select(when(df['id'] == 2, 3).otherwise(4).alias("age")).show()
+---+
|age|
+---+
|  4|
|  4|
|  3|
+---+

>>> df.select(when(df.id == 2, df.id + 1).alias("age")).show()
+----+
| age|
+----+
|NULL|
|NULL|
|   3|
+----+
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

In [94]:
tripTypeColumn = (
                    when(
                            col("RatecodeID") == 6,
                              "SharedTrip"
                         )
                    .otherwise("SoloTrip")
                 )    


yellowTaxiDF = (
                  yellowTaxiDF
    
                        .withColumn("TripType", tripTypeColumn)
    
                        .drop("RatecodeID")
               )

yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = false)
 |-- TripYear: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripTimeInMinutes: double (nullable = true)
 |-- TripType: string (nullable = false)

### Check Execution Plans

Este método se utiliza para mostrar el plan de ejecución detallado de una consulta en Spark.

El parámetro mode se establece en "extended", lo que significa que se proporcionará una explicación extendida del plan de ejecución. Esto incluirá información adicional, como las métricas de tiempo de ejecución estimadas y la estructura física de los datos.

La salida del método explain() no es un DataFrame regular, sino más bien una visualización textual del plan de ejecución. Proporciona una descripción paso a paso de cada etapa de la ejecución, desde la lectura de los datos hasta las operaciones finales.

In [70]:
yellowTaxiDF.explain( mode = "extended" )

# Other modes - simple, codegen, cost, formatted

== Parsed Logical Plan ==
'Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, PaymentType#1898, TripYear#1931, TripMonth#1943, TripDay#1944, round(((unix_timestamp('DropTime, yyyy-MM-dd HH:mm:ss, None, false) - unix_timestamp('PickupTime, yyyy-MM-dd HH:mm:ss, None, false)) / 60), 0) AS TripTimeInMinutes#1973]
+- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, PaymentType#1898, TripYear#1931, TripMonth#1943, TripDay#1944, (cast(round((unix_timestamp(DropTime#1854, yyyy-MM-dd HH:mm:ss, Some(America/Argentina/Buenos_Aires), false) - unix_timestamp(PickupTime#1843, yyyy-MM-dd HH:mm:ss, Some(America/Argentina/Buenos_Aires), false)), 0) as double) / cast(60 as double)) AS TripTimeInMinutes#1958]
   +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, PaymentType#1898, TripYear#1931, month(cast(PickupTime#1843 as date)) AS TripMonth#1943, dayofmonth(cast(PickupTime#1843 as date)) AS TripDay#1944]
      +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, PaymentType#1898, year(cast(PickupTime#1843 as date)) AS TripYear#1931]
         +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, payment_type#1572 AS PaymentType#1898]
            +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, total_amount#1510 AS TotalAmount#1887, payment_type#1572]
               +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DOlocationID#1502 AS DropLocationId#1876, RatecodeID#1571, total_amount#1510, payment_type#1572]
                  +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PUlocationID#1501 AS PickupLocationId#1865, DOlocationID#1502, RatecodeID#1571, total_amount#1510, payment_type#1572]
                     +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, tpep_dropoff_datetime#1496 AS DropTime#1854, PUlocationID#1501, DOlocationID#1502, RatecodeID#1571, total_amount#1510, payment_type#1572]
                        +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, tpep_pickup_datetime#1495 AS PickupTime#1843, tpep_dropoff_datetime#1496, PUlocationID#1501, DOlocationID#1502, RatecodeID#1571, total_amount#1510, payment_type#1572]
                           +- Project [VendorID#1494, passenger_count#1821 AS PassengerCount#1832, TripDistance#1820, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, PUlocationID#1501, DOlocationID#1502, RatecodeID#1571, total_amount#1510, payment_type#1572]
                              +- Project [VendorID#1494, cast(passenger_count#1497 as int) AS passenger_count#1821, trip_distance#1498 AS TripDistance#1820, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, PUlocationID#1501, DOlocationID#1502, RatecodeID#1571, total_amount#1510, payment_type#1572]
                                 +- Filter ((tpep_pickup_datetime#1495 >= cast(2022-10-01 as timestamp)) AND (tpep_dropoff_datetime#1496 < cast(2022-11-01 as timestamp)))
                                    +- Deduplicate [DOLocationID#1502, improvement_surcharge#1509, tpep_dropoff_datetime#1496, PULocationID#1501, trip_distance#1498, tolls_amount#1508, RatecodeID#1571, VendorId#1494, tip_amount#1507, payment_type#1572, fare_amount#1504, passenger_count#1497, store_and_fwd_flag#1500, extra#1505, airport_fee#1512, congestion_surcharge#1511, total_amount#1510, tpep_pickup_datetime#1495, mta_tax#1506]
                                       +- Project [VendorId#1494, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, passenger_count#1497, trip_distance#1498, coalesce(nanvl(RatecodeID#1499, cast(null as double)), cast(1 as double)) AS RatecodeID#1571, store_and_fwd_flag#1500, PULocationID#1501, DOLocationID#1502, coalesce(payment_type#1503, cast(5 as int)) AS payment_type#1572, fare_amount#1504, extra#1505, mta_tax#1506, tip_amount#1507, tolls_amount#1508, improvement_surcharge#1509, total_amount#1510, congestion_surcharge#1511, airport_fee#1512]
                                          +- Filter atleastnnonnulls(1, VendorId#1494, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, passenger_count#1497, trip_distance#1498, RatecodeID#1499, store_and_fwd_flag#1500, PULocationID#1501, DOLocationID#1502, payment_type#1503, fare_amount#1504, extra#1505, mta_tax#1506, tip_amount#1507, tolls_amount#1508, improvement_surcharge#1509, total_amount#1510, congestion_surcharge#1511, airport_fee#1512)
                                             +- Filter (trip_distance#1498 > 0.0)
                                                +- Filter (passenger_count#1497 > cast(0 as double))
                                                   +- Relation [VendorId#1494,tpep_pickup_datetime#1495,tpep_dropoff_datetime#1496,passenger_count#1497,trip_distance#1498,RatecodeID#1499,store_and_fwd_flag#1500,PULocationID#1501,DOLocationID#1502,payment_type#1503,fare_amount#1504,extra#1505,mta_tax#1506,tip_amount#1507,tolls_amount#1508,improvement_surcharge#1509,total_amount#1510,congestion_surcharge#1511,airport_fee#1512] csv

== Analyzed Logical Plan ==
VendorID: int, PassengerCount: int, TripDistance: double, PickupTime: timestamp, DropTime: timestamp, PickupLocationId: int, DropLocationId: int, RatecodeID: double, TotalAmount: double, PaymentType: int, TripYear: int, TripMonth: int, TripDay: int, TripTimeInMinutes: double
Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, PaymentType#1898, TripYear#1931, TripMonth#1943, TripDay#1944, round((cast((unix_timestamp(DropTime#1854, yyyy-MM-dd HH:mm:ss, Some(America/Argentina/Buenos_Aires), false) - unix_timestamp(PickupTime#1843, yyyy-MM-dd HH:mm:ss, Some(America/Argentina/Buenos_Aires), false)) as double) / cast(60 as double)), 0) AS TripTimeInMinutes#1973]
+- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, PaymentType#1898, TripYear#1931, TripMonth#1943, TripDay#1944, (cast(round((unix_timestamp(DropTime#1854, yyyy-MM-dd HH:mm:ss, Some(America/Argentina/Buenos_Aires), false) - unix_timestamp(PickupTime#1843, yyyy-MM-dd HH:mm:ss, Some(America/Argentina/Buenos_Aires), false)), 0) as double) / cast(60 as double)) AS TripTimeInMinutes#1958]
   +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, PaymentType#1898, TripYear#1931, month(cast(PickupTime#1843 as date)) AS TripMonth#1943, dayofmonth(cast(PickupTime#1843 as date)) AS TripDay#1944]
      +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, PaymentType#1898, year(cast(PickupTime#1843 as date)) AS TripYear#1931]
         +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, payment_type#1572 AS PaymentType#1898]
            +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, total_amount#1510 AS TotalAmount#1887, payment_type#1572]
               +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DOlocationID#1502 AS DropLocationId#1876, RatecodeID#1571, total_amount#1510, payment_type#1572]
                  +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PUlocationID#1501 AS PickupLocationId#1865, DOlocationID#1502, RatecodeID#1571, total_amount#1510, payment_type#1572]
                     +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, tpep_dropoff_datetime#1496 AS DropTime#1854, PUlocationID#1501, DOlocationID#1502, RatecodeID#1571, total_amount#1510, payment_type#1572]
                        +- Project [VendorID#1494, PassengerCount#1832, TripDistance#1820, tpep_pickup_datetime#1495 AS PickupTime#1843, tpep_dropoff_datetime#1496, PUlocationID#1501, DOlocationID#1502, RatecodeID#1571, total_amount#1510, payment_type#1572]
                           +- Project [VendorID#1494, passenger_count#1821 AS PassengerCount#1832, TripDistance#1820, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, PUlocationID#1501, DOlocationID#1502, RatecodeID#1571, total_amount#1510, payment_type#1572]
                              +- Project [VendorID#1494, cast(passenger_count#1497 as int) AS passenger_count#1821, trip_distance#1498 AS TripDistance#1820, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, PUlocationID#1501, DOlocationID#1502, RatecodeID#1571, total_amount#1510, payment_type#1572]
                                 +- Filter ((tpep_pickup_datetime#1495 >= cast(2022-10-01 as timestamp)) AND (tpep_dropoff_datetime#1496 < cast(2022-11-01 as timestamp)))
                                    +- Deduplicate [DOLocationID#1502, improvement_surcharge#1509, tpep_dropoff_datetime#1496, PULocationID#1501, trip_distance#1498, tolls_amount#1508, RatecodeID#1571, VendorId#1494, tip_amount#1507, payment_type#1572, fare_amount#1504, passenger_count#1497, store_and_fwd_flag#1500, extra#1505, airport_fee#1512, congestion_surcharge#1511, total_amount#1510, tpep_pickup_datetime#1495, mta_tax#1506]
                                       +- Project [VendorId#1494, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, passenger_count#1497, trip_distance#1498, coalesce(nanvl(RatecodeID#1499, cast(null as double)), cast(1 as double)) AS RatecodeID#1571, store_and_fwd_flag#1500, PULocationID#1501, DOLocationID#1502, coalesce(payment_type#1503, cast(5 as int)) AS payment_type#1572, fare_amount#1504, extra#1505, mta_tax#1506, tip_amount#1507, tolls_amount#1508, improvement_surcharge#1509, total_amount#1510, congestion_surcharge#1511, airport_fee#1512]
                                          +- Filter atleastnnonnulls(1, VendorId#1494, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, passenger_count#1497, trip_distance#1498, RatecodeID#1499, store_and_fwd_flag#1500, PULocationID#1501, DOLocationID#1502, payment_type#1503, fare_amount#1504, extra#1505, mta_tax#1506, tip_amount#1507, tolls_amount#1508, improvement_surcharge#1509, total_amount#1510, congestion_surcharge#1511, airport_fee#1512)
                                             +- Filter (trip_distance#1498 > 0.0)
                                                +- Filter (passenger_count#1497 > cast(0 as double))
                                                   +- Relation [VendorId#1494,tpep_pickup_datetime#1495,tpep_dropoff_datetime#1496,passenger_count#1497,trip_distance#1498,RatecodeID#1499,store_and_fwd_flag#1500,PULocationID#1501,DOLocationID#1502,payment_type#1503,fare_amount#1504,extra#1505,mta_tax#1506,tip_amount#1507,tolls_amount#1508,improvement_surcharge#1509,total_amount#1510,congestion_surcharge#1511,airport_fee#1512] csv

== Optimized Logical Plan ==
Aggregate [DOLocationID#1502, improvement_surcharge#1509, tpep_dropoff_datetime#1496, PULocationID#1501, trip_distance#1498, tolls_amount#1508, RatecodeID#1571, VendorId#1494, tip_amount#1507, payment_type#1572, fare_amount#1504, passenger_count#1497, store_and_fwd_flag#1500, extra#1505, airport_fee#1512, congestion_surcharge#1511, total_amount#1510, tpep_pickup_datetime#1495, mta_tax#1506], [VendorID#1494, cast(passenger_count#1497 as int) AS PassengerCount#1832, trip_distance#1498 AS TripDistance#1820, tpep_pickup_datetime#1495 AS PickupTime#1843, tpep_dropoff_datetime#1496 AS DropTime#1854, PUlocationID#1501 AS PickupLocationId#1865, DOlocationID#1502 AS DropLocationId#1876, RatecodeID#1571, total_amount#1510 AS TotalAmount#1887, payment_type#1572 AS PaymentType#1898, year(cast(tpep_pickup_datetime#1495 as date)) AS TripYear#1931, month(cast(tpep_pickup_datetime#1495 as date)) AS TripMonth#1943, dayofmonth(cast(tpep_pickup_datetime#1495 as date)) AS TripDay#1944, round((cast((unix_timestamp(tpep_dropoff_datetime#1496, yyyy-MM-dd HH:mm:ss, Some(America/Argentina/Buenos_Aires), false) - unix_timestamp(tpep_pickup_datetime#1495, yyyy-MM-dd HH:mm:ss, Some(America/Argentina/Buenos_Aires), false)) as double) / 60.0), 0) AS TripTimeInMinutes#1973]
+- Project [VendorId#1494, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, passenger_count#1497, trip_distance#1498, coalesce(nanvl(RatecodeID#1499, null), 1.0) AS RatecodeID#1571, store_and_fwd_flag#1500, PULocationID#1501, DOLocationID#1502, coalesce(payment_type#1503, 5) AS payment_type#1572, fare_amount#1504, extra#1505, mta_tax#1506, tip_amount#1507, tolls_amount#1508, improvement_surcharge#1509, total_amount#1510, congestion_surcharge#1511, airport_fee#1512]
   +- Filter ((((isnotnull(passenger_count#1497) AND isnotnull(trip_distance#1498)) AND isnotnull(tpep_pickup_datetime#1495)) AND isnotnull(tpep_dropoff_datetime#1496)) AND (((passenger_count#1497 > 0.0) AND (trip_distance#1498 > 0.0)) AND ((atleastnnonnulls(1, VendorId#1494, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, passenger_count#1497, trip_distance#1498, RatecodeID#1499, store_and_fwd_flag#1500, PULocationID#1501, DOLocationID#1502, payment_type#1503, fare_amount#1504, extra#1505, mta_tax#1506, tip_amount#1507, tolls_amount#1508, improvement_surcharge#1509, total_amount#1510, congestion_surcharge#1511, airport_fee#1512) AND (tpep_pickup_datetime#1495 >= 2022-10-01 00:00:00)) AND (tpep_dropoff_datetime#1496 < 2022-11-01 00:00:00))))
      +- Relation [VendorId#1494,tpep_pickup_datetime#1495,tpep_dropoff_datetime#1496,passenger_count#1497,trip_distance#1498,RatecodeID#1499,store_and_fwd_flag#1500,PULocationID#1501,DOLocationID#1502,payment_type#1503,fare_amount#1504,extra#1505,mta_tax#1506,tip_amount#1507,tolls_amount#1508,improvement_surcharge#1509,total_amount#1510,congestion_surcharge#1511,airport_fee#1512] csv

== Physical Plan ==
*(2) HashAggregate(keys=[DOLocationID#1502, improvement_surcharge#1509, tpep_dropoff_datetime#1496, PULocationID#1501, trip_distance#1498, tolls_amount#1508, RatecodeID#1571, VendorId#1494, tip_amount#1507, payment_type#1572, fare_amount#1504, passenger_count#1497, store_and_fwd_flag#1500, extra#1505, airport_fee#1512, congestion_surcharge#1511, total_amount#1510, tpep_pickup_datetime#1495, mta_tax#1506], functions=[], output=[VendorId#1494, PassengerCount#1832, TripDistance#1820, PickupTime#1843, DropTime#1854, PickupLocationId#1865, DropLocationId#1876, RatecodeID#1571, TotalAmount#1887, PaymentType#1898, TripYear#1931, TripMonth#1943, TripDay#1944, TripTimeInMinutes#1973])
+- Exchange hashpartitioning(DOLocationID#1502, improvement_surcharge#1509, tpep_dropoff_datetime#1496, PULocationID#1501, trip_distance#1498, tolls_amount#1508, RatecodeID#1571, VendorId#1494, tip_amount#1507, payment_type#1572, fare_amount#1504, passenger_count#1497, store_and_fwd_flag#1500, extra#1505, airport_fee#1512, congestion_surcharge#1511, total_amount#1510, tpep_pickup_datetime#1495, mta_tax#1506, 200), ENSURE_REQUIREMENTS, [plan_id=878]
   +- *(1) HashAggregate(keys=[DOLocationID#1502, knownfloatingpointnormalized(normalizenanandzero(improvement_surcharge#1509)) AS improvement_surcharge#1509, tpep_dropoff_datetime#1496, PULocationID#1501, knownfloatingpointnormalized(normalizenanandzero(trip_distance#1498)) AS trip_distance#1498, knownfloatingpointnormalized(normalizenanandzero(tolls_amount#1508)) AS tolls_amount#1508, knownfloatingpointnormalized(normalizenanandzero(RatecodeID#1571)) AS RatecodeID#1571, VendorId#1494, knownfloatingpointnormalized(normalizenanandzero(tip_amount#1507)) AS tip_amount#1507, payment_type#1572, knownfloatingpointnormalized(normalizenanandzero(fare_amount#1504)) AS fare_amount#1504, knownfloatingpointnormalized(normalizenanandzero(passenger_count#1497)) AS passenger_count#1497, store_and_fwd_flag#1500, knownfloatingpointnormalized(normalizenanandzero(extra#1505)) AS extra#1505, knownfloatingpointnormalized(normalizenanandzero(airport_fee#1512)) AS airport_fee#1512, knownfloatingpointnormalized(normalizenanandzero(congestion_surcharge#1511)) AS congestion_surcharge#1511, knownfloatingpointnormalized(normalizenanandzero(total_amount#1510)) AS total_amount#1510, tpep_pickup_datetime#1495, knownfloatingpointnormalized(normalizenanandzero(mta_tax#1506)) AS mta_tax#1506], functions=[], output=[DOLocationID#1502, improvement_surcharge#1509, tpep_dropoff_datetime#1496, PULocationID#1501, trip_distance#1498, tolls_amount#1508, RatecodeID#1571, VendorId#1494, tip_amount#1507, payment_type#1572, fare_amount#1504, passenger_count#1497, store_and_fwd_flag#1500, extra#1505, airport_fee#1512, congestion_surcharge#1511, total_amount#1510, tpep_pickup_datetime#1495, mta_tax#1506])
      +- *(1) Project [VendorId#1494, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, passenger_count#1497, trip_distance#1498, coalesce(nanvl(RatecodeID#1499, null), 1.0) AS RatecodeID#1571, store_and_fwd_flag#1500, PULocationID#1501, DOLocationID#1502, coalesce(payment_type#1503, 5) AS payment_type#1572, fare_amount#1504, extra#1505, mta_tax#1506, tip_amount#1507, tolls_amount#1508, improvement_surcharge#1509, total_amount#1510, congestion_surcharge#1511, airport_fee#1512]
         +- *(1) Filter ((((((((isnotnull(passenger_count#1497) AND isnotnull(trip_distance#1498)) AND isnotnull(tpep_pickup_datetime#1495)) AND isnotnull(tpep_dropoff_datetime#1496)) AND (passenger_count#1497 > 0.0)) AND (trip_distance#1498 > 0.0)) AND atleastnnonnulls(1, VendorId#1494, tpep_pickup_datetime#1495, tpep_dropoff_datetime#1496, passenger_count#1497, trip_distance#1498, RatecodeID#1499, store_and_fwd_flag#1500, PULocationID#1501, DOLocationID#1502, payment_type#1503, fare_amount#1504, extra#1505, mta_tax#1506, tip_amount#1507, tolls_amount#1508, improvement_surcharge#1509, total_amount#1510, congestion_surcharge#1511, airport_fee#1512)) AND (tpep_pickup_datetime#1495 >= 2022-10-01 00:00:00)) AND (tpep_dropoff_datetime#1496 < 2022-11-01 00:00:00))
            +- FileScan csv [VendorId#1494,tpep_pickup_datetime#1495,tpep_dropoff_datetime#1496,passenger_count#1497,trip_distance#1498,RatecodeID#1499,store_and_fwd_flag#1500,PULocationID#1501,DOLocationID#1502,payment_type#1503,fare_amount#1504,extra#1505,mta_tax#1506,tip_amount#1507,tolls_amount#1508,improvement_surcharge#1509,total_amount#1510,congestion_surcharge#1511,airport_fee#1512] Batched: false, DataFilters: [isnotnull(passenger_count#1497), isnotnull(trip_distance#1498), isnotnull(tpep_pickup_datetime#1..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/emi/Escritorio/curso_spark/datos/YellowTaxis_202210.csv], PartitionFilters: [], PushedFilters: [IsNotNull(passenger_count), IsNotNull(trip_distance), IsNotNull(tpep_pickup_datetime), IsNotNull..., ReadSchema: struct<VendorId:int,tpep_pickup_datetime:timestamp,tpep_dropoff_datetime:timestamp,passenger_coun...

In [95]:
# NOT IN VIDEO, RUN AND SEE PLAN IN SPARK

yellowTaxiDF.show()

24/05/11 19:53:52 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:53:52 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:53:53 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:53:53 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:53:53 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:53:53 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:53:53 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:53:53 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------+--------------+------------+-------------------+-------------------+----------------+--------------+-----------+-----------+--------+---------+-------+-----------------+--------+
|VendorID|PassengerCount|TripDistance|         PickupTime|           DropTime|PickupLocationId|DropLocationId|TotalAmount|PaymentType|TripYear|TripMonth|TripDay|TripTimeInMinutes|TripType|
+--------+--------------+------------+-------------------+-------------------+----------------+--------------+-----------+-----------+--------+---------+-------+-----------------+--------+
|       2|             2|         1.8|2022-10-01 00:18:28|2022-10-01 00:26:54|              48|            68|      14.76|          1|    2022|       10|      1|              8.0|SoloTrip|
|       2|             2|        1.41|2022-10-01 00:40:53|2022-10-01 00:47:01|             211|           261|      12.36|          1|    2022|       10|      1|              6.0|SoloTrip|
|       2|             1|        1.54|2022-10-01 00:07:52|2022-10-01 00:15:34|              79|           170|      13.56|          1|    2022|       10|      1|              8.0|SoloTrip|
|       2|             1|       12.38|2022-10-01 00:35:27|2022-10-01 01:03:59|             231|           159|      48.36|          1|    2022|       10|      1|             29.0|SoloTrip|
|       2|             1|        1.14|2022-10-01 01:00:26|2022-10-01 01:05:14|             231|           158|      12.74|          1|    2022|       10|      1|              5.0|SoloTrip|
|       2|             1|        3.59|2022-10-01 00:34:47|2022-10-01 00:45:59|             107|            66|       17.3|          1|    2022|       10|      1|             11.0|SoloTrip|
|       2|             1|        4.87|2022-10-01 00:44:13|2022-10-01 00:56:28|              79|            13|      23.76|          1|    2022|       10|      1|             12.0|SoloTrip|
|       2|             1|        3.25|2022-10-01 01:07:45|2022-10-01 01:24:43|             148|           246|      23.14|          1|    2022|       10|      1|             17.0|SoloTrip|
|       2|             2|        2.43|2022-10-01 01:18:27|2022-10-01 01:27:21|               4|           233|      15.36|          1|    2022|       10|      1|              9.0|SoloTrip|
|       1|             1|         5.7|2022-10-01 01:14:18|2022-10-01 01:34:54|             246|           116|       20.8|          2|    2022|       10|      1|             21.0|SoloTrip|
|       2|             1|        3.04|2022-10-01 01:43:32|2022-10-01 01:55:12|              68|            79|      18.36|          1|    2022|       10|      1|             12.0|SoloTrip|
|       2|             1|         3.4|2022-10-01 01:37:49|2022-10-01 01:49:15|             239|           164|       16.8|          1|    2022|       10|      1|             11.0|SoloTrip|
|       2|             1|        0.66|2022-10-01 01:06:43|2022-10-01 01:08:55|             233|           170|       9.36|          1|    2022|       10|      1|              2.0|SoloTrip|
|       2|             4|        6.41|2022-10-01 01:47:43|2022-10-01 02:11:39|             211|             7|       30.8|          2|    2022|       10|      1|             24.0|SoloTrip|
|       1|             1|         2.9|2022-10-01 02:27:22|2022-10-01 02:38:41|             143|            75|       16.3|          1|    2022|       10|      1|             11.0|SoloTrip|
|       1|             2|        18.3|2022-10-01 02:45:30|2022-10-01 03:17:21|             132|           230|       75.1|          1|    2022|       10|      1|             32.0|SoloTrip|
|       2|             6|        1.13|2022-10-01 03:28:52|2022-10-01 03:35:21|              48|           161|      11.16|          1|    2022|       10|      1|              6.0|SoloTrip|
|       2|             1|        1.52|2022-10-01 03:47:43|2022-10-01 03:57:07|             100|           162|       11.3|          2|    2022|       10|      1|              9.0|SoloTrip|
|       2|             6|        2.58|2022-10-01 03:38:18|2022-10-01 03:45:48|             107|           141|      14.14|          1|    2022|       10|      1|              8.0|SoloTrip|
|       2|             1|        0.77|2022-10-01 03:54:12|2022-10-01 03:57:09|             230|            48|        7.8|          2|    2022|       10|      1|              3.0|SoloTrip|
+--------+--------------+------------+-------------------+-------------------+----------------+--------------+-----------+-----------+--------+---------+-------+-----------------+--------+
only showing top 20 rows

### Read JSON file using schema

In [96]:
taxiBasesSchema = (
                    StructType
                    ([
                        StructField("License Number"         , StringType()    , True),
                        StructField("Entity Name"            , StringType()    , True),
                        StructField("Telephone Number"       , LongType()      , True),
                        StructField("SHL Endorsed"           , StringType()    , True),
                        StructField("Type of Base"           , StringType()    , True),

                        StructField("Address", 
                                        StructType
                                        ([
                                            StructField("Building"   , StringType(),   True),
                                            StructField("Street"     , StringType(),   True), 
                                            StructField("City"       , StringType(),   True), 
                                            StructField("State"      , StringType(),   True), 
                                            StructField("Postcode"   , StringType(),   True)
                                        ]),
                                    True
                                   ),
                        
                        StructField("GeoLocation", 
                                        StructType
                                        ([
                                            StructField("Latitude"   , StringType(),   True),
                                            StructField("Longitude"  , StringType(),   True), 
                                            StructField("Location"   , StringType(),   True)
                                        ]),
                                    True
                                   )  
                  ])
                )

In [98]:
taxiBasesDF = (
                  spark
                    .read    
                    .option("multiline", "true")
    
                    .schema(taxiBasesSchema)
    
                    .json("datos/TaxiBases.json")
              )

taxiBasesDF.show(truncate=False)

+--------------+--------------------------------------+----------------+------------+---------------------------+-----------------------------------------------------------+------------------------------------------------+
|License Number|Entity Name                           |Telephone Number|SHL Endorsed|Type of Base               |Address                                                    |GeoLocation                                     |
+--------------+--------------------------------------+----------------+------------+---------------------------+-----------------------------------------------------------+------------------------------------------------+
|B02865        |VIER-NY,LLC                           |6466657536      |No          |BLACK CAR BASE             |{636, WEST   28 STREET, NEW YORK, NY, 10001}               |{40.75273, -74.006408, (40.75273, -74.006408)}  |
|B02634        |VETERANS RADIO DISPATCHER CORP.       |7183647878      |No          |LIVERY BASE                |{131, KINGSBRIDGE ROAD, BRONX, NY, 10468}                  |{40.86927, -73.90281, (40.86927, -73.90281)}    |
|B80094        |ALPHA VAN LINE                        |5162850750      |No          |COMMUTER VAN AUTHORITY BASE|{115-54, 238 STREET, ELMONT, NY, 11003}                    |{40.693473, -73.724446, (40.693473, -73.724446)}|
|B02677        |A.T.B. CAR AND LIMOUSINE SERVICE, INC.|7184854444      |No          |LIVERY BASE                |{866, NEW LOTS AVENUE, BROOKLYN, NY, 11208}                |{40.667838, -73.8788, (40.667838, -73.8788)}    |
|B02152        |KYOEI LIMOUSINE, INC.                 |7183263258      |No          |LUXURY/LIMOUSINE           |{57-48, MASPETH AVENUE, MASPETH, NY, 11378}                |{40.722961, -73.91031, (40.722961, -73.91031)}  |
|B02844        |ENDOR CAR & DRIVER,LLC.               |4154758459      |No          |BLACK CAR BASE             |{31-00, 47 AVENUE  SUITE # 4123A, LIC, NY, 11101}          |{40.742082, -73.93552, (40.742082, -73.93552)}  |
|B02841        |SKYWAY EXECUTIVE SERVICE, INC         |7183595959      |No          |BLACK CAR BASE             |{68-20A, FRESH MEADOW LANE, FRESH MEADOWS, NY, 11365}      |{40.733337, -73.794706, (40.733337, -73.794706)}|
|B00472        |FARRELL'S LEASING CO.                 |2128616300      |No          |LUXURY/LIMOUSINE           |{22-11, 38 AVENUE, LIC, NY, 11101}                         |{40.757077, -73.937504, (40.757077, -73.937504)}|
|B01739        |CITY CAR SERVICE CORP                 |7184182222      |No          |LIVERY BASE                |{429, SUTTER AVENUE, BROOKLYN, NY, 11212}                  |{40.668473, -73.903383, (40.668473, -73.903383)}|
|B00248        |YELLOWSTONE TRANSPORTATION INC.       |7185397777      |No          |LIVERY BASE                |{41-31, MAIN STREET, FLUSHING, NY, 11355}                  |{40.758114, -73.82962, (40.758114, -73.82962)}  |
|B02861        |ELTRI CAR SERVICE INC                 |7183820100      |No          |BLACK CAR BASE             |{1811, EAST    7 STREET, BROOKLYN, NY, 11223}              |{40.612302, -73.963221, (40.612302, -73.963221)}|
|B02093        |V.J. CAR & LIMO SVC INC.              |7186417777      |No          |LIVERY BASE                |{104-08, 123RD STREET, RICHMOND HILL, NY, 11419}           |{40.691906, -73.82342, (40.691906, -73.82342)}  |
|B02980        |ADVANTAGE LIMO OF NY INC              |3478655876      |No          |LUXURY/LIMOUSINE           |{6701, BAY PARKWAY  OFFICE #1 3RD FLR, BROOKLYN, NY, 11204}|{40.603784, -73.972558, (40.603784, -73.972558)}|
|B02878        |ELF-NY,LLC                            |6466657540      |No          |BLACK CAR BASE             |{636, WEST   28 STREET, NEW YORK, NY, 10001}               |{40.75273, -74.00641, (40.75273, -74.00641)}    |
|B90691        |ALTA MEDICAL TRANSPORTATION, INC.     |7188972582      |No          |PARATRANSIT BASE           |{85-02, 67 AVENUE  SUITE 1, REGO PARK, NY, 11374}          |{40.717275, -73.86211, (40.717275, -73.86211)}  |
|B02840        |RAELEEN CAR CORP.                     |9176031815      |No          |BLACK CAR BASE             |{565, VAN NEST AVENUE, BRONX, NY, 10460}                   |{40.755734, -73.93795, (40.755734, -73.93795)}  |
|B02658        |ASCONA CAR SERVICE INC.               |7186461611      |No          |LIVERY BASE                |{2421, BATH AVENUE, BROOKLYN, NY, 11214}                   |{40.595422, -73.992368, (40.595422, -73.992368)}|
|B02331        |CHICO EXPRESS LIMO, INC.              |7182367777      |No          |BLACK CAR BASE             |{6318, 14 AVENUE, BROOKLYN, NY, 11219}                     |{40.625609, -73.998684, (40.625609, -73.998684)}|
|B02969        |LYFE AUTO GROUP INC                   |7187066234      |No          |BLACK CAR BASE             |{32-10, GREENPOINT AVENUE, LIC, NY, 11101}                 |{40.734944, -73.935733, (40.734944, -73.935733)}|
|B02651        |SAROS TRANSPORTATION GROUP INC.       |7185640084      |No          |BLACK CAR BASE             |{626, REXCORP PLAZA, UNIONDALE, NY, 11556}                 |{40.638931, -73.982954, (40.638931, -73.982954)}|
+--------------+--------------------------------------+----------------+------------+---------------------------+-----------------------------------------------------------+------------------------------------------------+
only showing top 20 rows

### Extract nested fields from JSON

In [99]:
taxiBasesFlatDF = (
                        taxiBasesDF
                            .select(
                                      col("License Number").alias("BaseLicenseNumber"),
                                      col("Entity Name").alias("EntityName"),

                                      col("Address.Building").alias("AddressBuilding"),

                                      col("Address.Street").alias("AddressStreet"),
                                      col("Address.City").alias("AddressCity"),
                                      col("Address.State").alias("AddressState"),
                                      col("Address.Postcode").alias("AddressPostCode"),

                                      col("GeoLocation.Latitude").alias("GeoLatitude"),
                                      col("GeoLocation.Longitude").alias("GeoLongitude")
                                   )
                  )

taxiBasesFlatDF.show()

+-----------------+--------------------+---------------+--------------------+-------------+------------+---------------+-----------+------------+
|BaseLicenseNumber|          EntityName|AddressBuilding|       AddressStreet|  AddressCity|AddressState|AddressPostCode|GeoLatitude|GeoLongitude|
+-----------------+--------------------+---------------+--------------------+-------------+------------+---------------+-----------+------------+
|           B02865|         VIER-NY,LLC|            636|    WEST   28 STREET|     NEW YORK|          NY|          10001|   40.75273|  -74.006408|
|           B02634|VETERANS RADIO DI...|            131|    KINGSBRIDGE ROAD|        BRONX|          NY|          10468|   40.86927|   -73.90281|
|           B80094|      ALPHA VAN LINE|         115-54|          238 STREET|       ELMONT|          NY|          11003|  40.693473|  -73.724446|
|           B02677|A.T.B. CAR AND LI...|            866|     NEW LOTS AVENUE|     BROOKLYN|          NY|          11208|  40.667838|    -73.8788|
|           B02152|KYOEI LIMOUSINE, ...|          57-48|      MASPETH AVENUE|      MASPETH|          NY|          11378|  40.722961|   -73.91031|
|           B02844|ENDOR CAR & DRIVE...|          31-00|47 AVENUE  SUITE ...|          LIC|          NY|          11101|  40.742082|   -73.93552|
|           B02841|SKYWAY EXECUTIVE ...|         68-20A|   FRESH MEADOW LANE|FRESH MEADOWS|          NY|          11365|  40.733337|  -73.794706|
|           B00472|FARRELL'S LEASING...|          22-11|           38 AVENUE|          LIC|          NY|          11101|  40.757077|  -73.937504|
|           B01739|CITY CAR SERVICE ...|            429|       SUTTER AVENUE|     BROOKLYN|          NY|          11212|  40.668473|  -73.903383|
|           B00248|YELLOWSTONE TRANS...|          41-31|         MAIN STREET|     FLUSHING|          NY|          11355|  40.758114|   -73.82962|
|           B02861|ELTRI CAR SERVICE...|           1811|    EAST    7 STREET|     BROOKLYN|          NY|          11223|  40.612302|  -73.963221|
|           B02093|V.J. CAR & LIMO S...|         104-08|        123RD STREET|RICHMOND HILL|          NY|          11419|  40.691906|   -73.82342|
|           B02980|ADVANTAGE LIMO OF...|           6701|BAY PARKWAY  OFFI...|     BROOKLYN|          NY|          11204|  40.603784|  -73.972558|
|           B02878|          ELF-NY,LLC|            636|    WEST   28 STREET|     NEW YORK|          NY|          10001|   40.75273|   -74.00641|
|           B90691|ALTA MEDICAL TRAN...|          85-02|  67 AVENUE  SUITE 1|    REGO PARK|          NY|          11374|  40.717275|   -73.86211|
|           B02840|   RAELEEN CAR CORP.|            565|     VAN NEST AVENUE|        BRONX|          NY|          10460|  40.755734|   -73.93795|
|           B02658|ASCONA CAR SERVIC...|           2421|         BATH AVENUE|     BROOKLYN|          NY|          11214|  40.595422|  -73.992368|
|           B02331|CHICO EXPRESS LIM...|           6318|           14 AVENUE|     BROOKLYN|          NY|          11219|  40.625609|  -73.998684|
|           B02969| LYFE AUTO GROUP INC|          32-10|   GREENPOINT AVENUE|          LIC|          NY|          11101|  40.734944|  -73.935733|
|           B02651|SAROS TRANSPORTAT...|            626|       REXCORP PLAZA|    UNIONDALE|          NY|          11556|  40.638931|  -73.982954|
+-----------------+--------------------+---------------+--------------------+-------------+------------+---------------+-----------+------------+
only showing top 20 rows

### Aggregate Data

Crear un nuevo DataFrame llamado yellowTaxiDFReport que contendrá un informe generado a partir del DataFrame yellowTaxiDF

El informe se generará agrupando por las columnas "PickupLocationId" y "DropLocationId"
y se realizarán cálculos en las columnas "TripTimeInMinutes" y "TotalAmount"

In [100]:
# Se importa la función avg y sum de pyspark.sql.functions para realizar los cálculos de promedio y suma respectivamente
from pyspark.sql.functions import avg, sum

In [101]:

yellowTaxiDFReport = (
    yellowTaxiDF
        .groupBy("PickupLocationId", "DropLocationId")
        .agg(
            # Se calcula el promedio de la columna "TripTimeInMinutes" y se crea una nueva columna "AvgTripTime"
            avg("TripTimeInMinutes").alias("AvgTripTime"),
            # Se calcula la suma de la columna "TotalAmount" y se crea una nueva columna "SumAmount"
            sum("TotalAmount").alias("SumAmount")
        )
        # Se ordena el DataFrame por la columna "PickupLocationId" en orden descendente
        .orderBy(col("PickupLocationId").desc())
)

# Se muestra el DataFrame resultante
yellowTaxiDFReport.show()

24/05/11 19:58:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:58:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:58:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:58:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:58:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:58:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:58:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 19:58:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+----------------+--------------+------------------+------------------+
|PickupLocationId|DropLocationId|       AvgTripTime|         SumAmount|
+----------------+--------------+------------------+------------------+
|             265|           182|              17.0|              25.0|
|             265|           230|              37.0|            383.34|
|             265|            86|23.666666666666668|              68.8|
|             265|           116|              40.0|             53.16|
|             265|           170|              40.0|350.43999999999994|
|             265|           231|              10.0|              15.3|
|             265|           233|              45.0|             78.85|
|             265|           218|              23.0|              45.0|
|             265|           132|              31.9|            598.71|
|             265|            10|              11.0|             14.55|
|             265|            23|               2.0|              41.6|
|             265|           144|              17.0|              16.8|
|             265|           107|              27.5|            101.59|
|             265|            28|              19.0|              58.0|
|             265|           135|              22.6|             291.0|
|             265|            39|              24.0|              37.3|
|             265|           114|              60.0|             220.8|
|             265|           194|              38.0|             88.08|
|             265|           139|              19.0|              20.0|
|             265|           203|              41.0|             130.8|
+----------------+--------------+------------------+------------------+
only showing top 20 rows

#### Exercises


1. Based on PickupTime, add a new column with day text = Monday to Sunday

2. Based on PickupTime, add a new column with month text = January to December

3. Based on PickupTime, add a new column with value being the last day of month

In [103]:
from pyspark.sql.functions import col, date_format

In [104]:
date_format?

Signature: date_format(date: 'ColumnOrName', format: str) -> pyspark.sql.column.Column
Docstring:
Converts a date/timestamp/string to a value of string in the format specified by the date
format given by the second argument.

A pattern could be for instance `dd.MM.yyyy` and could return a string like '18.03.1993'. All
pattern letters of `datetime pattern`_. can be used.

.. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

.. versionadded:: 1.5.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Notes
-----
Whenever possible, use specialized functions like `year`.

Parameters
----------
date : :class:`~pyspark.sql.Column` or str
    input column of values to format.
format: str
    format to use to represent datetime values.

Returns
-------
:class:`~pyspark.sql.Column`
    string value representing formatted datetime.

Examples
--------
>>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
>>> df.select(date_format('dt', 'MM/dd/yyy').alias('date')).collect()
[Row(date='04/08/2015')]
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

In [106]:


# Convert PickupTime column to date type
df = yellowTaxiDF.withColumn("PickupDate", col("PickupTime").cast("date"))
df.show(2)

24/05/11 20:03:59 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:03:59 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:04:00 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:04:00 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:04:00 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:04:00 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:04:00 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:04:00 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------+--------------+------------+-------------------+-------------------+----------------+--------------+-----------+-----------+--------+---------+-------+-----------------+--------+----------+
|VendorID|PassengerCount|TripDistance|         PickupTime|           DropTime|PickupLocationId|DropLocationId|TotalAmount|PaymentType|TripYear|TripMonth|TripDay|TripTimeInMinutes|TripType|PickupDate|
+--------+--------------+------------+-------------------+-------------------+----------------+--------------+-----------+-----------+--------+---------+-------+-----------------+--------+----------+
|       2|             2|         1.8|2022-10-01 00:18:28|2022-10-01 00:26:54|              48|            68|      14.76|          1|    2022|       10|      1|              8.0|SoloTrip|2022-10-01|
|       2|             2|        1.41|2022-10-01 00:40:53|2022-10-01 00:47:01|             211|           261|      12.36|          1|    2022|       10|      1|              6.0|SoloTrip|2022-10-01|
+--------+--------------+------------+-------------------+-------------------+----------------+--------------+-----------+-----------+--------+---------+-------+-----------------+--------+----------+
only showing top 2 rows

https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html


<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Meaning</th>
      <th>Presentation</th>
      <th>Examples</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>G</strong></td>
      <td>era</td>
      <td>text</td>
      <td>AD; Anno Domini</td>
    </tr>
    <tr>
      <td><strong>y</strong></td>
      <td>year</td>
      <td>year</td>
      <td>2020; 20</td>
    </tr>
    <tr>
      <td><strong>D</strong></td>
      <td>day-of-year</td>
      <td>number(3)</td>
      <td>189</td>
    </tr>
    <tr>
      <td><strong>M/L</strong></td>
      <td>month-of-year</td>
      <td>month</td>
      <td>7; 07; Jul; July</td>
    </tr>
    <tr>
      <td><strong>d</strong></td>
      <td>day-of-month</td>
      <td>number(2)</td>
      <td>28</td>
    </tr>
    <tr>
      <td><strong>Q/q</strong></td>
      <td>quarter-of-year</td>
      <td>number/text</td>
      <td>3; 03; Q3; 3rd quarter</td>
    </tr>
    <tr>
      <td><strong>E</strong></td>
      <td>day-of-week</td>
      <td>text</td>
      <td>Tue; Tuesday</td>
    </tr>
    <tr>
      <td><strong>F</strong></td>
      <td>aligned day of week in month</td>
      <td>number(1)</td>
      <td>3</td>
    </tr>
    <tr>
      <td><strong>a</strong></td>
      <td>am-pm-of-day</td>
      <td>am-pm</td>
      <td>PM</td>
    </tr>
    <tr>
      <td><strong>h</strong></td>
      <td>clock-hour-of-am-pm (1-12)</td>
      <td>number(2)</td>
      <td>12</td>
    </tr>
    <tr>
      <td><strong>K</strong></td>
      <td>hour-of-am-pm (0-11)</td>
      <td>number(2)</td>
      <td>0</td>
    </tr>
    <tr>
      <td><strong>k</strong></td>
      <td>clock-hour-of-day (1-24)</td>
      <td>number(2)</td>
      <td>1</td>
    </tr>
    <tr>
      <td><strong>H</strong></td>
      <td>hour-of-day (0-23)</td>
      <td>number(2)</td>
      <td>0</td>
    </tr>
    <tr>
      <td><strong>m</strong></td>
      <td>minute-of-hour</td>
      <td>number(2)</td>
      <td>30</td>
    </tr>
    <tr>
      <td><strong>s</strong></td>
      <td>second-of-minute</td>
      <td>number(2)</td>
      <td>55</td>
    </tr>
    <tr>
      <td><strong>S</strong></td>
      <td>fraction-of-second</td>
      <td>fraction</td>
      <td>978</td>
    </tr>
    <tr>
      <td><strong>V</strong></td>
      <td>time-zone ID</td>
      <td>zone-id</td>
      <td>America/Los_Angeles; Z; -08:30</td>
    </tr>
    <tr>
      <td><strong>z</strong></td>
      <td>time-zone name</td>
      <td>zone-name</td>
      <td>Pacific Standard Time; PST</td>
    </tr>
    <tr>
      <td><strong>O</strong></td>
      <td>localized zone-offset</td>
      <td>offset-O</td>
      <td>GMT+8; GMT+08:00; UTC-08:00;</td>
    </tr>
    <tr>
      <td><strong>X</strong></td>
      <td>zone-offset ‘Z’ for zero</td>
      <td>offset-X</td>
      <td>Z; -08; -0830; -08:30; -083015; -08:30:15;</td>
    </tr>
    <tr>
      <td><strong>x</strong></td>
      <td>zone-offset</td>
      <td>offset-x</td>
      <td>+0000; -08; -0830; -08:30; -083015; -08:30:15;</td>
    </tr>
    <tr>
      <td><strong>Z</strong></td>
      <td>zone-offset</td>
      <td>offset-Z</td>
      <td>+0000; -0800; -08:00;</td>
    </tr>
    <tr>
      <td><strong>‘</strong></td>
      <td>escape for text</td>
      <td>delimiter</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>’‘</strong></td>
      <td>single quote</td>
      <td>literal</td>
      <td>’</td>
    </tr>
    <tr>
      <td><strong>[</strong></td>
      <td>optional section start</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>]</strong></td>
      <td>optional section end</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

In [111]:

# Extract the day of the week and map it to the corresponding day text
df = df.withColumn("DayText", date_format(col("PickupDate"), "EEEE"))
df.show(2)

24/05/11 20:10:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:10:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:10:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:10:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:10:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:10:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:10:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:10:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------+--------------+------------+-------------------+-------------------+----------------+--------------+-----------+-----------+--------+---------+-------+-----------------+--------+----------+--------+
|VendorID|PassengerCount|TripDistance|         PickupTime|           DropTime|PickupLocationId|DropLocationId|TotalAmount|PaymentType|TripYear|TripMonth|TripDay|TripTimeInMinutes|TripType|PickupDate| DayText|
+--------+--------------+------------+-------------------+-------------------+----------------+--------------+-----------+-----------+--------+---------+-------+-----------------+--------+----------+--------+
|       2|             2|         1.8|2022-10-01 00:18:28|2022-10-01 00:26:54|              48|            68|      14.76|          1|    2022|       10|      1|              8.0|SoloTrip|2022-10-01|Saturday|
|       2|             2|        1.41|2022-10-01 00:40:53|2022-10-01 00:47:01|             211|           261|      12.36|          1|    2022|       10|      1|              6.0|SoloTrip|2022-10-01|Saturday|
+--------+--------------+------------+-------------------+-------------------+----------------+--------------+-----------+-----------+--------+---------+-------+-----------------+--------+----------+--------+
only showing top 2 rows

In [113]:
df["DayText",].show(2)

24/05/11 20:13:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:13:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:13:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:13:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:13:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:13:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:13:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:13:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------+
| DayText|
+--------+
|Saturday|
|Saturday|
+--------+
only showing top 2 rows

In [114]:
# Exercise 1: Answer
df = df.withColumn("MonthText", date_format(col("PickupDate"), "MMMM"))
df["DayText","MonthText"].show(2)

24/05/11 20:21:46 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:21:46 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:21:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:21:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:21:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:21:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:21:48 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:21:48 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------+---------+
| DayText|MonthText|
+--------+---------+
|Saturday|  October|
|Saturday|  October|
+--------+---------+
only showing top 2 rows

In [115]:
from pyspark.sql.functions import  last_day

In [116]:
last_day?

Signature: last_day(date: 'ColumnOrName') -> pyspark.sql.column.Column
Docstring:
Returns the last day of the month which the given date belongs to.

.. versionadded:: 1.5.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
date : :class:`~pyspark.sql.Column` or str
    target column to compute on.

Returns
-------
:class:`~pyspark.sql.Column`
    last day of the month.

Examples
--------
>>> df = spark.createDataFrame([('1997-02-10',)], ['d'])
>>> df.select(last_day(df.d).alias('date')).collect()
[Row(date=datetime.date(1997, 2, 28))]
File:      ~/Escritorio/curso_spark/env/lib/python3.8/site-packages/pyspark/sql/functions.py
Type:      function

In [120]:
df = df.withColumn("LastDay", last_day(col("PickupDate")))
df["DayText","MonthText","LastDay"].show()

24/05/11 20:30:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:30:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:30:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:30:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:30:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:30:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:30:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:30:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------+---------+----------+
| DayText|MonthText|   LastDay|
+--------+---------+----------+
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
|Saturday|  October|2022-10-31|
+--------+---------+----------+
only showing top 20 rows

In [121]:
# Reduce number of DataFrame partitions to 4

yellowTaxiDF = yellowTaxiDF.coalesce(4)

yellowTaxiDF.rdd.getNumPartitions()

4

## Save data in CSV format to storage

In [127]:
(
    yellowTaxiDF    
            .write
            
            .option("header", "true")
            .option("dateFormat", "yyyy-MM-dd HH:mm:ss.S")
    
            .mode("overwrite")    # Options - Append, ErrorIfExists, Ignore, Overwrite
    
            .csv("datos/Output/YellowTaxisOutput")
)

24/05/11 20:37:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:37:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:37:31 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:37:31 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:37:31 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:37:31 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:37:31 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:37:31 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

In [124]:
from os import listdir

In [128]:
listdir("datos/Output/YellowTaxisOutput")

['part-00002-4edf6df5-262f-40f8-b4df-98bf88e49790-c000.csv',
 '_SUCCESS',
 'part-00001-4edf6df5-262f-40f8-b4df-98bf88e49790-c000.csv',
 '._SUCCESS.crc',
 '.part-00000-4edf6df5-262f-40f8-b4df-98bf88e49790-c000.csv.crc',
 '.part-00002-4edf6df5-262f-40f8-b4df-98bf88e49790-c000.csv.crc',
 '.part-00003-4edf6df5-262f-40f8-b4df-98bf88e49790-c000.csv.crc',
 'part-00003-4edf6df5-262f-40f8-b4df-98bf88e49790-c000.csv',
 'part-00000-4edf6df5-262f-40f8-b4df-98bf88e49790-c000.csv',
 '.part-00001-4edf6df5-262f-40f8-b4df-98bf88e49790-c000.csv.crc']

### Save data in Parquet format to storage

In [129]:
(
    yellowTaxiDF
            .write
    
            .option("header", "true")
            .option("dateFormat", "yyyy-MM-dd HH:mm:ss.S")
    
            .mode("overwrite")
    
            .parquet("datos/Output/YellowTaxisOutput.parquet")
)

24/05/11 20:40:15 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:40:15 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:40:16 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:40:16 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:40:16 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:40:16 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:40:16 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:40:16 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

In [130]:
listdir("datos/Output/YellowTaxisOutput.parquet")

['part-00002-8a0caac1-1150-42a2-a36d-71c471802110-c000.snappy.parquet',
 '.part-00003-8a0caac1-1150-42a2-a36d-71c471802110-c000.snappy.parquet.crc',
 'part-00000-8a0caac1-1150-42a2-a36d-71c471802110-c000.snappy.parquet',
 'part-00003-8a0caac1-1150-42a2-a36d-71c471802110-c000.snappy.parquet',
 '_SUCCESS',
 '.part-00002-8a0caac1-1150-42a2-a36d-71c471802110-c000.snappy.parquet.crc',
 '._SUCCESS.crc',
 '.part-00000-8a0caac1-1150-42a2-a36d-71c471802110-c000.snappy.parquet.crc',
 'part-00001-8a0caac1-1150-42a2-a36d-71c471802110-c000.snappy.parquet',
 '.part-00001-8a0caac1-1150-42a2-a36d-71c471802110-c000.snappy.parquet.crc']

### Save partitioned data in Parquet format to storage

In [131]:
(
    yellowTaxiDF
            .write
    
            .partitionBy("VendorId")
            
            .option("header", "true")
            .option("dateFormat", "yyyy-MM-dd HH:mm:ss.S")
    
            .mode("overwrite")
    
            .parquet("datos/Output/YellowTaxisPartitionedOutput.parquet")
)

24/05/11 20:42:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:15 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:15 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:15 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:15 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:36 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:36 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/05/11 20:42:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

In [132]:
listdir("datos/Output/YellowTaxisPartitionedOutput.parquet")

['VendorId=2', '_SUCCESS', 'VendorId=1', '._SUCCESS.crc']

### Check performance between non-partitioned & partitioned datasets

#### 1. Performance check: Run query on non-partitioned dataset

In [133]:
# Run query on non-partitioned dataset

outputDF = (
                spark
                    .read
                    .parquet("datos/Output/YellowTaxisOutput.parquet")
    
                    .where("VendorId = 1")
    
                    .groupBy("PickupLocationId")
                    .agg(avg("TotalAmount"))
           )

outputDF.show()

+----------------+------------------+
|PickupLocationId|  avg(TotalAmount)|
+----------------+------------------+
|             148|20.027366458264947|
|             243| 25.97614035087719|
|              31| 26.21666666666667|
|             137|17.343399488927055|
|              85| 27.50609756097561|
|             251|            61.825|
|              65| 25.43594555873929|
|             255| 22.50868589743589|
|              53| 39.64958333333334|
|             133|33.552083333333336|
|              78| 34.10000000000001|
|             108| 49.70862068965517|
|             155|            38.944|
|             193| 19.06381578947367|
|             211|18.900272379269484|
|              34|28.052105263157895|
|             101|        36.5390625|
|             126| 26.52592592592593|
|              81| 37.83181818181818|
|              28| 35.15681818181818|
+----------------+------------------+
only showing top 20 rows

#### 2. Performance check: Run query on partitioned dataset

In [134]:
outputDF = (
                spark
                    .read
                    .parquet("datos/Output/YellowTaxisPartitionedOutput.parquet")
    
                    .where("VendorId = 1")
    
                    .groupBy("PickupLocationId")
                    .agg(avg("TotalAmount"))
           )

outputDF.show()

+----------------+------------------+
|PickupLocationId|  avg(TotalAmount)|
+----------------+------------------+
|             148|20.027366458264964|
|             243|25.976140350877188|
|              31| 26.21666666666667|
|             137| 17.34339948892702|
|              85|27.506097560975615|
|             251|            61.825|
|              65|25.435945558739288|
|             255| 22.50868589743589|
|              53| 39.64958333333333|
|             133|33.552083333333336|
|              78|              34.1|
|             155|            38.944|
|             108| 49.70862068965517|
|             211|18.900272379269484|
|             193| 19.06381578947367|
|              34|28.052105263157895|
|             126| 26.52592592592593|
|             101|        36.5390625|
|              81| 37.83181818181818|
|              28| 35.15681818181818|
+----------------+------------------+
only showing top 20 rows